.Dropdown {
  position: relative;
  z-index: 1;
}

.Dropdown-button {
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: initial;
  white-space: nowrap;
}

.Dropdown-button:focus {
  outline: none;
}

.Dropdown-button:hover {
  cursor: pointer;
}

.Dropdown-button > svg {
  fill: currentColor;
  height: 1em;
  margin-bottom: -0.15em;
  width: 1em;
}

.Dropdown.is-open .Dropdown-button > svg {
  transform: rotate(180deg);
}

.Dropdown-panel {
  background-color: var(--background);
  border-radius: 4px;
  border: solid 1px var(--line-rule-color);
  box-shadow: 4px 4px 12px 4px rgba(0,0,0,0.025);
  left: 0;
  min-width: 120%;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 100%;
  visibility: hidden;
}

.Dropdown.is-open .Dropdown-panel {
  pointer-events: auto;
  visibility: visible;
}
