.docs-footer-announcement {
  display: block;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;
  background-color: #f8fafc;
  font-family: Inter,"Inter UI",Helvetica,Arial,sans-serif;
  box-shadow: 0 0 0 1px rgba(0,20,56,.06);
  color: #73849a;
  font-size: 0.9rem;
  letter-spacing: 1px;
  padding: 8px 0;
}

.docs-footer-announcement a {
  background-color: #73a5ff;
  color: #fff;
  border-radius: 16px;
  margin-left: 12px;
  padding: 6px 8px 5px;
  font-weight: 600;
  font-size: 9px;
  text-transform: uppercase;
  vertical-align: 0;
  white-space: pre;
  letter-spacing: .02em;
  transition: .2s background-color,.2s box-shadow;
}

@media (max-width: 768px) {
  .docs-footer-announcement  {
    display: none;
  }
}
