.selectColors {
  display: block;
  padding-top: 20px;
  margin-bottom: 80px;
}

.selectColors,
.submenu {
  margin: 0;
  padding: 0;
}

.selectColors li {
  list-style-type: none;
}

.item {
  margin: 0;
  position: relative;
  border-bottom: 1px solid rgba(115, 132, 154, 0.2);
}

.item {
  cursor: pointer;
}

.item svg {
  transition: 100ms transform;
  position: absolute;
  top: 24px;
  right: 12px;
  pointer-events: none;
}

.item:first-child {
  border-top: 1px solid rgba(115, 132, 154, 0.2);
}

.submenu > li {
  height: 0;
  opacity: 0;
  margin: 0;
  pointer-events: none;
  transition: 160ms height, 160ms opacity;
}

.item.isOpen svg {
  transform: rotate(180deg);
}

.item.isOpen .submenu > li {
  height: 54px;
  opacity: 1;
  pointer-events: all;
}
