docs-pagination {
  border-color: var(--line-rule-color);
  border-style: solid;
  border-width: 0 0 1px;
  display: flex;
  flex-wrap: wrap-reverse;
  padding: var(--page-padding, 2rem 0rem) 0;
}

docs-pagination .next,
docs-pagination .previous {
  max-width: 100%;
  overflow: hidden;
}

docs-pagination .next {
  margin-left: auto;
}

docs-pagination a {
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 1em 1.5em;
  color: rgb(var(--accent-color-rgb));
}

docs-pagination .previous a {
  padding-left: 0;
}

docs-pagination .next a {
  padding-right: 0;
  align-items: flex-end;
}

@media (max-width: 700px) {
  docs-pagination .previous a {
    padding-right: .5rem;
  }

  docs-pagination .next a {
    padding-left: .5rem;
  }
}

@media (hover: hover) {
  docs-pagination a:hover,
  docs-pagination a:active {
    filter: brightness(0.8);
  }
}

docs-pagination .pagination__title {
  color: var(--text-color--lighter);
  font-size: 12px;
  display: block;
}

docs-pagination .pagination__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

docs-pagination span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

docs-pagination svg {
  fill: currentColor;
  flex: none;
  height: 1em;
  margin-bottom: -0.125em;
  width: 1em;
}

docs-pagination .next svg {
  margin-left: 0.5em;
}

docs-pagination .previous svg {
  margin-right: 0.5em;
}