color-gen-select-colors {
  display: block;
  padding-top: 20px;
  margin-bottom: 80px;
}

.menu,
.menu__submenu {
  margin: 0;
  padding: 0;
}

.menu li {
  list-style-type: none;
}

.menu__item {
  position: relative;
  border-bottom: 1px solid var(--whiteish);
}

.menu__item > color-gen-variable-selector {
  cursor: pointer;
}

.menu__item svg {
  transition: 100ms transform;
  position: absolute;
  top: 24px;
  right: 12px;
  pointer-events: none;
}

.menu__item:first-child {
  border-top: 1px solid var(--whiteish);
}

.menu__submenu > li {
  height: 0;
  opacity: 0;
  pointer-events: none;
  transition:
    80ms height,
    80ms opacity;
}

.menu__item.is-open svg {
  transform: rotate(180deg);
}

.menu__item.is-open .menu__submenu > li {
  height: 54px;
  opacity: 1;
  pointer-events: all;
}
