docs-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: var(--header-height);
  grid-template-areas: "menu header" "menu content";
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}
