docs-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: var(--header-height) calc(100% - var(--header-height));
  grid-template-areas: "menu header" "menu content";
  height: 100%;
  transition: transform 350ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;
}

docs-layout.is-menu-open {
  @media (max-width: $breakpoint-md) {
    transform: translateX(70vw);
  }
}

docs-layout.section-pro {
  --header-background: var(--darker);
  --header-color-secondary: var(--light-gray);
}
