.playgroundContainer {
  margin-bottom: var(--ifm-leading);
  position: relative;
}

.playgroundEditor {
  font: var(--ifm-code-font-size) / var(--ifm-pre-line-height)
    var(--ifm-font-family-monospace) !important;
  /*rtl:ignore*/
  direction: ltr;
}

.playgroundEditor:last-of-type {
  border-radius: var(--ifm-global-radius);
}

.copyButton {
  background: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: var(--ifm-global-radius);
  color: var(--ifm-color-white);
  cursor: pointer;
  opacity: 0;
  user-select: none;
  padding: 0.4rem 0.5rem;
  position: absolute;
  right: calc(var(--ifm-pre-padding) / 2);
  top: calc(var(--ifm-pre-padding) / 2);
  transition: opacity 200ms ease-in-out;
}

.playgroundContainer:hover + .copyButton,
.playgroundContainer:hover > .copyButton,
.copyButton:focus {
  opacity: 1;
}
