site-content {
  transition: transform 400ms cubic-bezier(0.190,1,0.220,1);
}

site-content.is-menu-open {
  @media (max-width: 700px) {
    height: calc(100vh - var(--header-height));
    opacity: 0.25;
    overflow-y: hidden;
    pointer-events: all;
    transform: translateX(70%);

    > * {
      pointer-events: none;
    }
  }
}

.linked-heading {
  color: inherit;
  font-weight: inherit;
  position: relative;
}

.linked-heading:before {
  color: #9ec1ff;
  content: '#';
  left: -20px;
  position: absolute;
  transition: .2s color ease;
}

.linked-heading:hover {
  color: var(--darker);
}

.linked-heading:hover:before {
  color: var(--blue);
}

site-content {
  overflow: hidden;
}
