/* @import 'src/styles/variables'; */

.linked-heading {
  color: inherit;
  font-weight: inherit;
  position: relative;
}

.linked-heading:before {
  color: lighten(var(--blue), 20);
  content: '#';
  left: -20px;
  position: absolute;
  transition: .2s color ease;
}

.linked-heading:hover {
  color: var(--darker);
}

.linked-heading:hover:before {
  color: var(--blue);
}

main {
  transform-origin: center top;
  transition: .3s transform, .3s opacity;
}

main.transitioning {
  // transform: translateX(100%);
  opacity: 0;
}

site-content {
  overflow: hidden;
}
