.DS_Store
node_modules/
.stencil/
.nova/
dist/
www/
src/pages/**/*.json
src/l10n/pages/**/*.json
src/components/menu/data/
src/components/page/data/
src/components/search/data/
.idea
/.env
/.docusaurus
/docs
