src/theme/DocItem
src/theme/DocRoot
legacy-stencil-components
scripts/bak

docs/api
docs/native
versioned_docs/version-v*/native
docs/cli/commands
docs/reference/glossary.md

# Archived versions
versioned_docs/version-v5
versioned_docs/version-v6

static/code/stackblitz

.docusaurus
.github
build
node_modules
