@import './templates/error.css';

docs-document {
  display: block;
  font-size: 15px;
  line-height: 2;
  margin-left: var(--menu-width);
  margin-top: var(--header-height);
  overflow-x: hidden;
}

docs-document main {
  max-width: 700px;
  padding: 2rem 4rem;
}

docs-document .full-screen {
  height: calc(100vh - var(--header-height));
  width: calc(100vw - var(--menu-width));
  max-width: none;
  overflow: hidden;
  padding: 0;
}

docs-document h1 {
  margin-top: 2rem;
}

docs-document h2 a[href^="#"],
docs-document h3 a[href^="#"],
docs-document h4 a[href^="#"],
docs-document h5 a[href^="#"],
docs-document h6 a[href^="#"] {
  color: inherit;
  position: relative;
}

docs-document h2 a[href^="#"]:before,
docs-document h3 a[href^="#"]:before,
docs-document h4 a[href^="#"]:before,
docs-document h5 a[href^="#"]:before,
docs-document h6 a[href^="#"]:before {
  content: "#";
  opacity: 0;
  padding-right: 5px;
  position: absolute;
  right: 100%;
  transition: opacity 100ms ease;
}

docs-document h2 a[href^="#"]:hover:before,
docs-document h3 a[href^="#"]:hover:before,
docs-document h4 a[href^="#"]:hover:before,
docs-document h5 a[href^="#"]:hover:before,
docs-document h6 a[href^="#"]:hover:before {
  opacity: 1;
}

docs-document h2 code,
docs-document h3 code,
docs-document h4 code,
docs-document h5 code,
docs-document h6 code {
  background: none;
  font-size: inherit;
}
