docs-preview.ios {
  --device-aspect-ratio: 1.992;
}

doc-preview.md {
  --device-aspect-ratio: 2.189;
}

docs-preview {
  --device-aspect-ratio: 2;
  --device-padding: 2rem;

  grid-area: preview;

  @media (max-width: $breakpoint-lg) {
    display: none;
  }
}

.docs-preview-device {
  padding: var(--device-padding);
  position: sticky;
  top: 0;
}

.docs-preview-device > figure {
  border-radius: 28px;
  box-shadow: 0 0 0 12px black, 0 0 0 15px #abb2bf, 0 0 34px 17px rgba(0,0,0,0.2);
  height: 0;
  margin: 0;
  max-width: 320px;
  min-width: 280px;
  overflow: hidden;
  padding-bottom: calc(var(--device-aspect-ratio) * 100%);
  position: relative;
  width: calc((100vh - var(--header-height) - var(--device-padding) * 2) / var(--device-aspect-ratio));
  z-index: 1;
}

.docs-preview-device > figure > iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.docs-preview-mode-toggle {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.docs-preview-mode-toggle button {
  background-color: transparent;
  border: none;
  border-radius: 16px;
  color: var(--gray);
  cursor: pointer;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 24px;
  margin: 0px 3px;
  padding: 0 9px;
  text-transform: uppercase;
  transition: 200ms background-color ease, 200ms color ease;

  &:focus,
  &:active {
    outline: none;
  }

  &.is-selected {
    background-color: var(--blue);
    color: white;
  }
}
