docs-preview {
  grid-area: preview;
}

.docs-preview-device {
  --device-aspect-ratio: 2.1667;
  --device-padding: 2rem;

  padding: var(--device-padding);
  position: sticky;
  top: 0;
}

.docs-preview-device > figure {
  border-radius: 28px;
  box-shadow: 0 0 0 14px #090a0d, 0 0 0 17px #9fa3a8, 0 0 34px 17px rgba(0,0,0,0.2);
  height: 0;
  margin: 0;
  max-width: 375px;
  min-width: 320px;
  overflow: hidden;
  padding-bottom: calc(var(--device-aspect-ratio) * 100%);
  position: relative;
  width: calc((100vh - var(--header-height) - var(--device-padding) * 2) / var(--device-aspect-ratio));
  z-index: 1;
}

.docs-preview-device > figure > iframe {
  border: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.docs-preview-mode-toggle {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.docs-preview-mode-toggle button {
  background-color: transparent;
  border: none;
  border-radius: 16px;
  color: var(--gray);
  cursor: pointer;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 24px;
  margin: 0px 3px;
  padding: 0 9px;
  text-transform: uppercase;
  transition: 200ms background-color ease, 200ms color ease;

  &:focus,
  &:active {
    outline: none;
  }

  &.is-selected {
    background-color: var(--blue);
    color: white;
  }
}

.docs-preview-new-tab {
  position: absolute;
  top: 16px;
  right: 16px;
  background: white;
  padding: 2px 8px 4px;
  border-radius: 14px;
  display: none;
}

.docs-preview-source {
  position: absolute;
  top: 1rem;
  right: 44px;
  font-size: 24px;
}

@media (max-width: $breakpoint-lg) {
  .docs-preview-new-tab {
    display: block;
  }

  .docs-preview-device,
  .docs-preview-mode-toggle,
  .docs-preview-source {
    display: none;
  }
}