docs-preview {
  align-self: start;
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: preview;
  margin-left: auto;
  padding: 2rem;
  position: sticky;
  top: 0;
  width: 100%;
  transition: 80ms width ease-out;

  .docs-preview_link {
    display: none;
  }

  @media (max-height: 930px) {
    // height: 378px;
    width: calc(380px / 1.2 + 4rem);

    figure {
      transform: scale3d(.9, .9, 1);
    }
  }

  @media (max-width: $breakpoint-lg), (max-height: 850px) {
    // height: 378px;
    width: calc(380px / 1.5 + 4rem);

    figure {
      transform: scale3d(.75, .75, 1);
    }
  }

  @media (max-width: 1050px), (max-height: 740px) {
    // height: 378px;
    width: calc(380px / 2 + 2rem);

    figure {
      transform: scale3d(.5, .5, 1);
    }
  }

  // eventually we just hide the preview and link to it as a new tab
  @media (max-width: 930px), (max-height: 500px) {
    width: 0;

    .docs-preview_link {
      position: absolute;
      display: block;
      right: 1rem;
      top: 1rem;
      width: 90px;
    }

    .docs-preview__toggle,
    figure {
      display: none;
    }
  }

  &.hidden {
    display: none;
  }

  li {
    color: var(--gray);
    list-style: none;
    background: transparent;
    border-radius: 16px;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: 0 9px;
    margin: 0px 3px;
    display: block;
    font-size: 10px;
    line-height: 24px;
    font-weight: 700;
    cursor: pointer;
    transition:
      .2s background ease
      .2s color ease;

    &.active {
      background: var(--blue);
      color: white;
    }
  }

  figure {
    height: 757px;
    width: 380px;
    margin: 0 22px;
    position: relative;
    transform-origin: 50% 0%;
    transition: 80ms transform ease-out;
    padding: 26px 30px 41px;

    &::before {
      background: url('/docs/assets/img/device-iphone.png') no-repeat 0 0;
      background-size: 380px;
      width: 380px;
      height: 757px;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      pointer-events: none;
    }

    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }

    &.md {
      height: 832px;
      padding: 59px 19px 110px;

      &::before {
        background-image: url('/docs/assets/img/device-pixel.png');
        background-size: 380px;
        height: 832px;
      }
    }
  }
}

.docs-preview__toggle {
  display: flex;
  margin: 0;
  padding: 0;
}
