
.color-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  padding-right: 34px;
}

.color-selector__name {
  color: var(--dark);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.color-selector__swatch {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  margin-right: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.invalid {
  background: #f0b2b1;
}

.property-label {
  font-family: Courier New, Courier, monospace;
  white-space: nowrap;
  cursor: pointer;

  flex: 1;
  padding-left: 10px;
}

.color-selector__form-group {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  align-items: center;
}

.color-selector__input {
  transition: 0.3s border;
  border: 1px solid #D4D9E1;
  border-radius: 4px;
  height: 28px;
  max-width: 90px;
  display: flex;
  align-items: center;
}

.color-selector__input input[type="text"] {
  -webkit-appearance: none;
  border: 0;
  outline: none;
  font-family: var(--font-family-code);
  font-size: 12px;
  width: 60px;
  color: var(--dark-gray);
}



.color-selector__input--focused {
  border-color: #7eafff;
}

.color-selector--error .color-selector__input,
.color-selector--error .color-selector__input--focused .color-selector__input {
  border-color: #f04141;
}

.color-selector__color-wrap {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 12px;
  height: 12px;
  margin: 0 7px;
  border-radius: 2px;
  display: inline-block;
}

.color-selector__input input[type="color"] {
  -webkit-appearance: none;
  border: none;
  outline: none;
  opacity: 0;
  width: 12px;
  height: 12px;
  display: block;
  margin: 0;
  padding: 0;
}

.color-selector__error {
  font-size: 11px;
  line-height: 13px;
  display: block;
  max-width: 100px;
  padding-right: 10px;
  color: #f04141;
}

@media (max-width: $breakpoint-md) {
  .color-selector--error {
    padding-bottom: 24px;
  }
  .color-selector__error {
    max-width: 300px;
    width: 300px;
    text-align: right;
    padding-right: 0;
    top: calc(100% + 3px);
    right: 0;
    // padding-top: 4px;
    position: absolute;
  }
}


.color-selector__hex {
  width: 94px;
}

.color-selector__hex span {
  font-family: var(--font-family-code);
  font-size: 12px;
  background-color: var(--whiteish);
  color: var(--dark-gray);
  padding: 3px 5px;
  border-radius: 2px;
}
