.color-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  padding-right: 34px;
}

.color-selector__name {
  color: var(--dark);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.color-selector__swatch {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  margin-right: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.invalid {
  background: #f0b2b1;
}

.property-label {
  font-family: Courier New, Courier, monospace;
  white-space: nowrap;
  cursor: pointer;

  flex: 1;
  padding-left: 10px;
}

.color-selector__form-group {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  align-items: center;
}

.color-selector__input {
  transition: 0.3s border;
  border: 1px solid #D4D9E1;
  border-radius: 4px;
  height: 28px;
  max-width: 90px;
  display: flex;
  align-items: center;
}

.color-selector__input-name input,
.color-selector__input-value input {
  -webkit-appearance: none;
  border: 0;
  outline: none;
  font-family: var(--code-font-family);
  font-size: 12px;
  width: 60px;
  color: var(--text-color--light);
}

.color-selector__input--focused {
  border-color: #7eafff;
}

.color-selector--name-error .color-selector__input-name,
.color-selector--name-error .color-selector__input--focused .color-selector__input-name,
.color-selector--value-error .color-selector__input-value,
.color-selector--value-error .color-selector__input--focused .color-selector__input-value {
  border-color: #f04141;
}

.color-selector__input-name {
  max-width: 150px;
}

.color-selector__input-name input {
  padding: 0 15px;
  width: 110px;
}

.color-selector__color-wrap {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 12px;
  height: 12px;
  margin: 0 7px;
  border-radius: 2px;
  display: inline-block;
}

.color-selector__input input[type="color"] {
  -webkit-appearance: none;
  border: none;
  outline: none;
  opacity: 0;
  width: 12px;
  height: 12px;
  display: block;
  margin: 0;
  padding: 0;
}

.color-selector__error {
  font-size: 11px;
  line-height: 13px;
  display: block;
  max-width: 120px;
  padding: 0 10px;
  color: #f04141;
  font-weight: normal;
}

@media (max-width: 700px) {
  .color-selector--value-error {
    padding-bottom: 24px;
  }

  .color-selector__error {
    max-width: 300px;
    width: 300px;
    text-align: right;
    padding-right: 0;
    top: calc(100% + 3px);
    right: 0;
    position: absolute;
  }
}

.color-selector__hex {
  width: 94px;
}

.color-selector__hex span {
  font-family: var(--code-font-family);
  font-size: 12px;
  background-color: var(--line-rule-color);
  color: var(--text-color--dark);
  padding: 3px 5px;
  border-radius: 2px;
}
