<script src="https://unpkg.com/@ionic/core@4.0.0-alpha.3/dist/ionic.js"></script>

<style>
  body {
    margin: 0;
    padding: 0;
  }
</style>

<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Theme preview</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding>
    <ion-button color="light">Light</ion-button>
    <ion-button>Default</ion-button>
    <ion-button color="secondary">Secondary</ion-button>
    <ion-button color="danger">Danger</ion-button>
    <ion-button color="dark">Dark</ion-button>
  </ion-content>
</ion-app>
