<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core/css/ionic.bundle.css"/>

<style>
  ion-app {
    --ion-safe-area-top: 20px;
  }

  .ios {
    --ion-safe-area-bottom: 22px;
  }

  ion-grid {
    background: #fff;

    text-align: center;
  }
</style>
<style id="color-style"></style>

<ion-app>
  <ion-tabs useRouter="false">
    <ion-tab tab="preview">
      <ion-header>
        <ion-toolbar color="primary">
            <ion-buttons slot="secondary">
              <ion-button>
                <ion-icon slot="icon-only" name="search"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-buttons slot="primary">
              <ion-button>
                <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-title>Theme Preview</ion-title>
          </ion-toolbar>
          <ion-toolbar color="primary">
            <ion-segment value="all">
              <ion-segment-button value="all">
                All
              </ion-segment-button>
              <ion-segment-button value="favorites">
                Favorites
              </ion-segment-button>
            </ion-segment>
          </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list class="ion-no-padding">
          <ion-item>
            <ion-label>Medium Toggle</ion-label>
            <ion-toggle slot="end" color="medium" name="medium" checked></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Disabled Toggle</ion-label>
            <ion-toggle slot="end" checked disabled></ion-toggle>
          </ion-item>

          <ion-item>Danger Toggle</ion-label>
            <ion-toggle slot="end" color="danger" checked></ion-toggle>
          </ion-item>

          <ion-item>Success Toggle</ion-label>
            <ion-toggle slot="end" color="success" checked></ion-toggle>
          </ion-item>

          <ion-grid class="button-grid">
            <ion-row>
              <ion-col>
                <ion-button expand="block" color="primary">Aa</ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" color="secondary">Aa</ion-button>
              </ion-col>
              <ion-col>
                <ion-button expand="block" color="tertiary">Aa</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid>
            <ion-row text-center>
              <ion-col>
                <ion-chip expand="block" color="success">
                  <ion-label>Success</ion-label>
                </ion-chip>
              </ion-col>
              <ion-col>
                <ion-chip expand="block" color="warning">
                  <ion-label>Warning</ion-label>
                </ion-chip>
              </ion-col>
              <ion-col>
                <ion-chip expand="block" color="danger">
                  <ion-label>Danger</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-item>
            <ion-icon name="star" color="primary" slot="start"></ion-icon>
            <ion-label>Star</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="planet" color="secondary" slot="start"></ion-icon>
            <ion-label>Planet</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="sunny" color="tertiary" slot="start"></ion-icon>
            <ion-label>Sun</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="moon" color="success" slot="start"></ion-icon>
            <ion-label>Moon</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="rocket" color="warning" slot="start"></ion-icon>
            <ion-label>Rocket</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-icon name="md-globe" color="danger" slot="start"></ion-icon>
            <ion-label>Earth</ion-label>
          </ion-item>
        </ion-list>

        <ion-fab vertical="bottom" horizontal="end" id="fab4" slot="fixed">
          <ion-fab-button color="tertiary" color="light" class="e2eFabBottomLeft">
            <ion-icon name="arrow-up"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="top">
            <ion-fab-button color="dark"><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
            <ion-fab-button color="dark"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
            <ion-fab-button color="dark"><ion-icon name="logo-vimeo"></ion-icon></ion-fab-button>
            <ion-fab-button color="dark"><ion-icon name="logo-googleplus"></ion-icon></ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </ion-content>

      <ion-tab-bar>
        <ion-tab-button tab="preview">
          <ion-label>Preview</ion-label>
          <ion-icon name="color-palette"></ion-icon>
        </ion-tab-button>
        <ion-tab-button disabled>
          <ion-label>Share</ion-label>
          <ion-icon name="share"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>

  </ion-tabs>

</ion-app>

<script>
  const styleTag = document.querySelector('#color-style');

  function handleMessage(message) {
    const cssText = message.data ? message.data.cssText : null;
    if (cssText) {
      styleTag.innerHTML = cssText;
    }
  }

  window.addEventListener('message', handleMessage);
</script>
