.variableSelector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  padding-right: 34px;
}

.name {
  color: var(--dark);
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.swatch {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  margin-right: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.invalid {
  background: #f0b2b1;
}

.propertyLabel {
  font-family: Courier New, Courier, monospace;
  white-space: nowrap;
  cursor: pointer;

  flex: 1;
  padding-left: 10px;
}

.formGroup {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  align-items: center;
}

.input {
  transition: 0.3s border;
  border: 1px solid #d4d9e1;
  border-radius: 4px;
  height: 28px;
  max-width: 90px;
  display: flex;
  align-items: center;
}

.inputName input,
.inputValue input {
  -webkit-appearance: none;
  border: 0;
  outline: none;
  font-family: var(--code-font-family);
  font-size: 12px;
  width: 60px;
  color: var(--text-color--light);
}

.inputFocused {
  border-color: #7eafff;
}

.variableSelectorValueError .inputValue,
.variableSelectorValueError .inputFocused .inputValue {
  border-color: #f04141;
}

.inputName {
  max-width: 150px;
}

.inputName input {
  padding: 0 15px;
  width: 110px;
}

.colorWrap {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 12px;
  height: 12px;
  margin: 0 7px;
  border-radius: 2px;
  display: inline-block;
}

.input input[type='color'] {
  -webkit-appearance: none;
  border: none;
  outline: none;
  opacity: 0;
  width: 12px;
  height: 12px;
  display: block;
  margin: 0;
  padding: 0;
}

.error {
  font-size: 11px;
  line-height: 13px;
  display: block;
  max-width: 120px;
  padding: 0 10px;
  color: #f04141;
  font-weight: normal;
}

@media (max-width: 700px) {
  .variableSelectorValueError {
    padding-bottom: 24px;
  }

  .error {
    max-width: 300px;
    width: 300px;
    text-align: right;
    padding-right: 0;
    top: calc(100% + 3px);
    right: 0;
    position: absolute;
  }
}
