docs-content card-link a {
  transition: all 0.15s ease;
}

card-link {
  display: block;
  line-height: normal;

  a {
    display: block;
    min-height: 100%;
    border-radius: 6px;
    padding: 40px 32px;
    box-shadow: 0 4px 8px rgba(0,30,84,0.12), 0 1px 3px rgba(0,30,84,0.08);

    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 8px 16px rgba(0,30,84,.1), 0 3px 6px rgba(0,30,84,.08);
    }
  }

  stencil-route-link {
    color: inherit;
    display: block;
    height: 100%;
  }

  &.has-icon a {
    padding-left: 106px;
    position: relative;

    &::before,
    &::after {
      background: no-repeat 0 0;
      position: absolute;
      left: 0;
      content: '';
    }

    &::after {
      transition: .2s opacity ease;
      opacity: 0;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  a,
  stencil-route-link {
    color: inherit;

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

  .card-link__title {
    color: #151c29;
    display: block;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: normal;
    margin-bottom: 16px;
  }

  .card-link__body {
    color: #768090;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.016em;
    line-height: 1.8em;
  }
}
