docs-button {
  background-color: rgba(var(--accent-color-rgb), var(--bg-alpha, 0.06));
  border-radius: 6px;
  color: var(--accent-color);
  display: inline-block;
  font-weight: 600;
  white-space: nowrap;
}

docs-button a,
docs-button button {
  color: inherit;
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  padding: 0.75em 1.5em;
}

docs-button button {
  appearance: none;
  background: none;
  border: none;
  line-height: inherit;
}

docs-button svg {
  fill: currentColor;
  height: 1em;
  margin-bottom: -0.125em;
  width: 1em;
}

docs-button[round] {
  border-radius: 2em;
}

@media (hover: hover) {
  docs-button:hover {
    --bg-alpha: 0.08;
  }

  docs-button:active {
    --bg-alpha: 0.10;
  }
}
