docs-menu,
docs-menu nav {
  display: flex;
  flex-direction: column;
}

docs-menu {
  border-right: solid 1px var(--line-rule-color);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: var(--menu-width);
}

docs-menu > stencil-route-switch {
  overflow-y: auto;
}

docs-menu header {
  border-bottom: solid 1px var(--line-rule-color);
  flex: 0;
  height: var(--header-height);
  padding: 1rem 2rem;
}

docs-menu header .Logo {
  color: var(--link-color);
  font-family: var(--heading-font-family);
  height: 25px;
}

docs-menu nav {
  align-items: flex-start;
  font-size: 14px;
  padding: 2rem;
}

docs-menu nav a {
  color: var(--text-color--dark);
  display: inline-block;
  line-height: 1;
  margin: 4px 0;
  padding: 4px 0;
}

docs-menu nav stencil-route-link {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

docs-menu .link-active {
  color: var(--link-color);
  text-decoration: none;
}
