docs-menu {
  background-color: var(--background);
  border-right: solid 1px var(--line-rule-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  transition: transform 200ms cubic-bezier(0.2, 1, 0.2, 1);
  transform: var(--menu-transform, none);
  width: var(--menu-width);
  z-index: 1;
}

docs-menu > header {
  align-items: center;
  border-bottom: solid 1px var(--line-rule-color);
  display: flex;
  flex: none;
  height: var(--header-height);
  padding: 0 1.4rem 0 0.8rem;
  user-select: none;
}

docs-menu docs-menu-toggle {
  margin-right: 0.75em;
}

docs-menu .MenuLogo {
  color: var(--text-color--dark);
  font-family: var(--heading-font-family);
  height: 25px;
}

docs-menu > docs-search {
  flex: none;
  margin: 1rem 0.5rem 0;
}

docs-menu > stencil-route-switch {
  overflow-y: auto;
}

docs-menu nav {
  padding: 2rem 1.5rem;
}

.MenuControls {
  border-top: solid 1px var(--line-rule-color);
  box-shadow: 0 -5px 10px -10px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  padding: 1em;
}

.FrameworkSelect-framework {
  align-items: center;
  display: flex;
}

.FrameworkSelect-icon {
  height: 14px;
  width: 14px;
  margin-right: 0.5em;
}

.FrameworkSelect .Select-option {
  padding-left: 0.75em;
}

.FrameworkSelect .Dropdown-panel {
  bottom: 100%;
  top: auto;
  min-width: 140px;
}
