@import "~@ionic/core/css/core.css";

/** Basic CSS for apps built with Ionic */
@import "~@ionic/core/css/normalize.css";
@import "~@ionic/core/css/structure.css";
@import "~@ionic/core/css/typography.css";

/** Optional CSS utils that can be commented out */
@import "~@ionic/core/css/padding.css";

ion-toolbar {
  --background: white;
}

:root {
  --ion-safe-area-top: 20px;
}

:root.ios {
  --ion-safe-area-bottom: 22px;
}
