contributor-list {
  display: block;
}

contributor-list ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

contributor-list li:not(:last-child) {
  margin-left: -10px;
}

contributor-list img {
  border: solid 2px var(--background);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  overflow: hidden;
}

contributor-list a {
  display: block;
  transition: transform 50ms ease-out;
}

@media (hover: hover) {
  contributor-list a:hover {
    transform: scale(1.125);
    z-index: 1;
  }
}
