contributor-list {
  display: block;
}

contributor-list h5 {
  margin: 10px 0;
}

contributor-list a {
  position: relative;
  display: inline-block;
  margin-right: -6px;
  text-align: center;
  text-decoration: none;
  color: var(--accent-color);
  font-size: 11px;
  vertical-align: middle;
}

contributor-list .img-wrapper {
  display: block;
  border-radius: 50%;
  border: 2px solid var(--background);
  overflow: hidden;
}

contributor-list img {
  display: block;
  width: 32px;
  height: 32px;
}

contributor-list .contribute {
  margin-left: 17px;
  padding: 5px 10px;
  border-radius: 20px;
  background: rgba(var(--accent-color-rgb), 0.08);
  color: var(--accent-color);
}

contributor-list .contribute span,
contributor-list .contribute ion-icon {
  vertical-align: middle;
}
