@import '../../styles/variables.scss';
@import '../../styles/fonts.scss';
@import '../../styles/typography.scss';
@import '../../styles/general.scss';
@import '../../styles/pages/index.scss';

$breakpoint-lg: 1124px;
$breakpoint-md: 700px;

ionic-docs {
  align-items: start;
  display: grid;
  grid-template-areas:
    "header header header header header"
    "menu . content . preview";
  grid-template-rows: var(--header-height);
  grid-template-columns: 200px 1fr minmax(320px, 720px) 1fr 420px;

  @media (max-width: $breakpoint-lg)  {
    grid-template-columns: 200px 1fr minmax(320px, 720px) 1fr 1fr;
  }

  @media (max-width: $breakpoint-md)  {
    /* TODO: sidebar drawer */
    grid-template-columns: 0 0 minmax(320px, 720px) 0 0;
  }

  &.page-index {
    grid-template-columns: 200px 1fr minmax(320px, 806px) 1fr 1fr;

    @media (max-width: $breakpoint-lg)  {
      grid-template-columns: 200px 1fr minmax(320px, 806px) 1fr 0;
    }

    @media (max-width: $breakpoint-md)  {
      /* TODO: sidebar drawer */
      grid-template-columns: 0 0 minmax(320px, 720px) 0 0;
    }
  }
}

site-header,
site-menu,
site-preview-app {
  position: sticky;
}

site-header {
  align-items: center;
  align-self: stretch;
  grid-area: header;
  padding-left: 2rem;
  padding-right: 1.2rem;
  top: 0;

  @media (max-width: $breakpoint-md)  {
    padding-left: 24px;
    padding-right: 32px;
  }
}

site-menu {
  grid-area: menu;
  top: var(--header-height);
  padding: 1.75rem 0 1.75rem 2rem;
  height: calc(100vh - 75px);
  overflow-y: auto;

  @media (max-width: $breakpoint-md)  {
    /* TODO: sidebar drawer */
    display: none;
  }
}

site-content {
  padding: 1.15rem 2rem 1.75rem;
  grid-area: content;

  @media (max-width: $breakpoint-md)  {
    padding-left: 24px;
    padding-right: 24px;
  }
}

site-preview-app {
  grid-area: preview;
  top: var(--header-height);
  padding: 1.75rem 0 1rem;


  @media (max-width: $breakpoint-lg)  {
    /* TODO: preview app link */
    display: none;
  }
}
