.layout {
  --content-min: 320px;
  --content-max: 720px;

  align-items: start;
  display: grid;
  transition: transform 350ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  grid-template-columns: auto 1fr minmax(var(--content-min), var(--content-max)) 2fr auto;
  grid-template-rows: var(--header-height);
  grid-template-areas:
    "header header header header header"
    "menu . content . preview";

  &.is-menu-open {
    @media (max-width: $breakpoint-md) {
      transform: translateX(70vw);
    }
  }

  &.page-index {
    --content-max: 806px;
  }
}
