@import './prismjs-theme.css';
@import './prismjs-shell-theme.css';

docs-code {
  display: block;
  position: relative;
}

docs-code:before {
  color: #bdc5d1;
  content: attr(language);
  font-family: var(--code-font-family);
  font-size: 10px;
  letter-spacing: 0.05em;
  line-height: 1;
  padding: 0.75em;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
}

docs-code[language="shell"] pre {
  white-space: pre-wrap;
}

.code-text__copy{
  position: absolute;
  right: 0;
  top: -1.6rem;
  height: 20px;
}

.code-text__copy-link,
.code-text__copy-confirmation {
  padding: 4px 5px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  position: absolute;
  right: 0;
  top: 0;
}

.code-text__copy-link {
  transition:
    0.2s transform ,
    0.2s opacity,
    0.2s color;
  color: #70A4FF;
  background-color: #E0EEFF;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  opacity: 1;
  transform: translate3d(0,0,0);
  z-index: 5;
}

.code-text__copy-link:hover {
  color: var(--blue);
}

.code-text__copy-confirmation {
  transition:
    0.2s transform ,
    0.2s opacity;
  color: #0ec254;
  opacity: 0;
  transform: translate3d(0,5px,0);
  z-index: 1;
  display: flex;
  align-items: center;
  height: 20px;
  padding: 0;
}

.code-text__copy-confirmation svg {
  fill: #0ec254;
  margin-right: -4px;
}

.show-confirmation .code-text__copy-link {
  opacity: 0;
  transform: translate3d(0,-5px,0);
  pointer-events: none;
}

.show-confirmation .code-text__copy-confirmation {
  opacity: 1;
  transform: translate3d(0,0,0);
}
