docs-tabs {
  display: block;
  margin-bottom: 2em;
  margin-top: 1em;
}

docs-tabs header {
  border-bottom: solid 1px rgba(0,32,88, 0.1);
  margin-bottom: 1rem;
  white-space: nowrap;
}

docs-tabs .tab-link {
  color: #a5acbb;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.04em;
  padding: 12px 16px;
  position: relative;
  text-transform: uppercase;
  transition: all 100ms ease;
}

docs-tabs .tab-link:after {
  background-color: transparent;
  content: "";
  display: block;
  height: 1px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
}

docs-tabs .tab-link.is-selected {
  color: var(--accent-color);
  font-weight: 700;
}

docs-tabs .tab-link.is-selected:after {
  background-color: var(--accent-color);
}

docs-tabs .tab-link:hover {
  color: var(--accent-color);
}

docs-tabs .tab {
  display: none;
}

docs-tabs .tab.is-selected {
  display: block;
}
