.nativeEnterpriseCards {
  display: flex;

  margin-inline-start: -1.5rem;
  margin-block-start: -1.5rem;

  @media (max-width: 767px) {
    flex-direction: column;

    :global {
      .image-wrapper img {
        max-height: 10rem;
      }
    }
  }

  > a {
    display: block;
    margin-inline-start: 1.5rem;
    margin-block-start: 1.5rem;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;

    transition: all 150ms ease;
  }

  > a:hover,
  > a:active,
  > a:focus {
    transform: translateY(-1px);
    box-shadow: 0 0.35em 1.175em rgba(2, 8, 20, 0.1), 0 0.175em 0.5em rgba(2, 8, 20, 0.08);
  }

  :global {
    .heading-group {
      padding: 2rem;
    }

    .image-wrapper > img {
      object-fit: cover;
      width: 100%;
    }

    header {
      font-weight: 600;
      font-size: 1.25rem;
      line-height: 24px;
      letter-spacing: -0.02em;
      color: var(--ifm-heading-color);

      margin-block-end: 0.5rem;
    }

    p {
      font-size: 0.875rem;
      line-height: 160%;
      letter-spacing: -0.01em;
      color: var(--ifm-font-color-base);
    }
  }
}

.nativeEnterprise {
  margin-top: 2rem;
  margin-bottom: 2rem;

  border-radius: 16px;
  overflow: hidden;

  display: flex;
  align-items: center;
  background: #1f2a40;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.1);

  transition: transform 150ms ease, box-shadow 150ms ease;

  @media (max-width: 767px) {
    flex-direction: column;

    :global {
      .image-wrapper img {
        max-height: 10rem;
      }
    }
  }

  > * {
    flex-basis: 50%;
  }

  &:hover,
  &:active,
  &:focus {
    transform: translateY(-1px);
    box-shadow: 0 0.35em 1.175em rgba(2, 8, 20, 0.1), 0 0.175em 0.5em rgba(2, 8, 20, 0.08);
  }

  :global {
    .heading-group {
      padding: 2rem;
      padding-left: 3rem;
    }

    .image-wrapper {
      align-self: stretch;
      overflow: hidden;
    }

    img {
      height: 100%;
      max-height: 100%;
      object-fit: cover;
    }

    header {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: -0.02em;

      color: #fff;
    }

    p {
      font-size: 14px;
      line-height: 160%;
      letter-spacing: -0.01em;

      color: #e9edf3;
    }
  }
}
