.docs-demo-device {
  --device-aspect-ratio: 2.125;
  --device-padding: 2rem;

  padding: var(--device-padding);
  position: sticky;
  top: 0;
}

.docs-demo-device > figure {
  border-radius: 32px;
  box-shadow: 0 0 0 14px #090a0d, 0 0 0 17px #9fa3a8, 0 0 34px 17px rgba(0,0,0,0.2);
  height: 0;
  margin: 0;
  max-width: 320px;
  min-width: 320px;
  overflow: hidden;
  padding-bottom: calc(var(--device-aspect-ratio) * 100%);
  position: relative;
  width: calc((100vh - var(--header-height) - var(--device-padding) * 2) / var(--device-aspect-ratio));
  z-index: 1;
}

.docs-demo-device > figure > iframe {
  border: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.docs-demo-mode-toggle {
  align-items: center;
  display: flex;
  justify-content: center;

  margin: 1rem auto 0;

  width: 128px;
  height: 28px;

  background: #ecf0f5;

  border-radius: 18px;
}

.docs-demo-mode-toggle button {
  background-color: transparent;
  border: none;
  border-radius: 16px;

  color: #5b708b;

  cursor: pointer;
  font-family: SF Pro Text;
  font-size: 11px;
  letter-spacing: -0.02em;
  width: calc(50% - 2px);
  line-height: 21px;
  padding-top: 2px;

  transition: 200ms background-color ease, 200ms color ease;
}

.docs-demo-mode-toggle button:focus,
.docs-demo-mode-toggle button:active {
  outline: none;
}

.docs-demo-mode-toggle button.is-selected {
  background-color: white;
  color: black;

  font-weight: 600;
  box-shadow: 0px 2px 3px rgba(0, 16, 46, 0.15);
}

.docs-demo-source {
  align-items: center;
  display: flex;
  font-size: 13px;
  justify-content: center;
}

.docs-demo-source > ion-icon {
  margin-right: 5px;
}

@media (max-width: 1160px) {
  .docs-demo-device,
  .docs-demo-mode-toggle,
  .docs-demo-source {
    display: none;
  }
}

.docs-demo-device__ios-notch {
  display: none;
  fill: #090a0d;
  left: 50%;
  position: absolute;
  top: -1px;
  transform: translateX(-50%);
  width: 165px;
  z-index: 2;
}

.docs-demo-device.ios figure:after {
  background-color: rgba(0,0,0,0.5);
  border-radius: 2px;
  bottom: 6px;
  content: "";
  display: none;
  height: 4px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 35%;
  z-index: 1;
}

.docs-demo-device.ios .docs-demo-device__ios-notch,
.docs-demo-device.ios figure:after {
  display: block;
}


.docs-demo-device.md figure {
  border-radius: 20px;
}

.docs-demo-device__md-bar {
  display: none;
}

.docs-demo-device.md .docs-demo-device__md-bar {
  display: block;
  fill: rgba(125, 125, 125, 0.3);
  padding: 0.5rem 0.75rem;
  position: relative;
  width: 100%;
  z-index: 2;
}
