docs-menu {
  display: flex;
  flex-direction: column;
  grid-area: menu;
  height: 100vh;
  min-width: 220px;
  user-select: none;
}

.menu {
  max-width: 240px;
  font-size: 14px;
  font-weight: 600;
  height: calc(100% - var(--header-height));
  overflow-y: auto;
  padding: 1rem 1rem 2rem 2rem;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: touch;
}

.menu ul {
  list-style: none;
}

.menu li {
  margin: 0.5em 0;
}

.menu > ul + ul {
  border-top: solid 1px var(--whiteish);
  margin-top: 1rem;
  padding-top: 1rem;
}

.menu a {
  display: inline-block;
  line-height: 2;
  transition: transform 200ms ease;
  margin-bottom: 3px;
}

.menu__item {
  color: var(--blackish);
}

.menu__item:hover {
  cursor: pointer;
}

.menu__submenu {
  margin: 0 0 0 8px;
}

.menu__submenu > li {
  margin: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
  transition:
    80ms margin,
    80ms height,
    80ms opacity;
}

.menu__submenu.is-open {
  margin: 4px 0 6px 8px;
}

.menu__submenu.is-open > li {
  margin: 0.05em 0;
  height: 26px;
  opacity: 1;
  pointer-events: all;
}

.menu__submenu .menu__item {
  color: var(--gray);
  font-size: 0.95em;
  font-weight: 500;
}

.menu__submenu .menu__item:hover a {
  color: var(--darkish);
}

.menu__submenu .menu__item:hover .new-tab .new-tab__box,
.menu__submenu .menu__item:hover .new-tab .new-tab__arrow {
  fill: var(--darkish);
}

.menu__submenu .menu__item--active,
.menu__submenu a:hover {
  transform: translateX(2px);
}

.menu__item--active {
  color: var(--blue);
  font-weight: 600;
}

.menu__item--active:hover {
  color: var(--blue);
}

.menu__item--outbound a {
  align-items: center;
  display: inline-flex;
}

.menu__item--outbound svg {
  display: inline-block;
  margin-left: 6px;
  stroke: var(--gray);
  vertical-align: middle;
  width: 6px;
}

.menu__item--static {
  line-height: 2;
  pointer-events: none;
}

.api-version-selector {
  color: var(--blackish);
  margin-bottom: 1.5em;
}

.api-version-selector label {
  align-items: center;
  border-radius: 4px;
  border: solid 1px #e1e5ed;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  display: inline-flex;
  font-size: 12px;
  margin-left: 0.75em;
  padding: 8px 10px;
  position: relative;
}

.api-version-selector select {
  appearance: none;
  display: inline-block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.api-version-selector svg {
  fill: #727579;
  margin-left: 18px;
  width: 6px;
}

.menu__breadcrumb {
  color: var(--blue);
  font-size: 13px;
}

.menu__breadcrumb a {
  line-height: 1;
}

.menu__breadcrumb svg {
  display: inline-block;
  margin-right: 4px;
  padding-bottom: 2px;
  stroke: currentColor;
  vertical-align: middle;
  width: 8px;
}

.menu__item .new-tab {
  height: 0.8em;
  margin-left: 0.4em;
  width: auto;

  &__box {
    opacity: 0.25;
  }

  &__box,
  &__arrow {
    fill: var(--gray);
  }
}

.migration-pill {
  background-color: #dfedff;
  border-radius: 16px;
  color: #6974ff;
  font-size: 13px;
  padding: 8px 14px;
}

.migration-pill svg {
  stroke: currentColor;
}

@media (max-width: $breakpoint-md) {
  docs-menu {
    position: fixed;
    right: 100%;
    width: 70vw;
  }

  .menu {
    font-size: 16px;
  }

  .menu__submenu {
    transition: 80ms margin;
  }

  .menu__submenu.is-open {
    margin: 8px 0 12px 8px;
  }

  .menu__submenu.is-open > li {
    margin-bottom: 0.35em;
  }
}
