file-tree {
  display: block;
  background-color: #111722;
  border-radius: 7px;
  padding: 2em;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: normal;
  line-height: 2;
  color: rgba(255, 255, 255, 0.9);
  overflow: scroll;
}
