table-of-contents {
  padding-top: 17px;
  display: block;

  .toc-label {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 800;
    color: #abb2bf;
    letter-spacing: 0.1em;
  }

  .toc-list {
    margin-top: 4px;
  }

  .toc-item {
    margin-bottom: 0;
    line-height: 1em;
    list-style: none;
  }

  .toc-item a {
    padding: 4px 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    position: relative;
    display: inline-block;
    letter-spacing: -.02em;

    &:hover {
      color: var(--blue);
    }
  }
}

main {
  h1,
  h2 {
    a.linked {
      color: inherit;
      font-weight: inherit;
      position: relative;
      outline: none;

      &::before {
        background-color: #16161d;
        opacity: 0;
        height: 16px;
        width: 16px;
        content: '';
        mask: url('/docs/assets/img/link.svg');
        mask-size: cover;
        position: absolute;
        left: -20px;
        top:5px;
        transition: .1s all ease;
      }

      &:hover {
        color: var(--darker);

        &::before {
          background-color: #16161d;
          opacity: 1;
        }
      }
    }
  }

  h3 {
    a.linked {
      color: inherit;
      font-weight: inherit;
      position: relative;
      outline: none;

      &::before {
        background-color: #16161d;
        opacity: 0;
        height: 12px;
        width: 12px;
        content: '';
        mask: url('/docs/assets/img/link.svg');
        mask-size: cover;
        position: absolute;
        left: -16px;
        top:5px;
        transition: .1s all ease;
      }

      &:hover {
        color: var(--darker);

        &::before {
          background-color: #16161d;
          opacity: 1;
        }
      }
    }
  }
}
