table-of-contents {
  padding-top: 17px;
  display: block;

  strong {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 800;
    color: #abb2bf;
    letter-spacing: 0.1em;
  }

  ul {
    margin-top: 4px;
    padding-left: 10px;
  }

  li {
    margin-bottom: 0;
    line-height: 1em;
    list-style: none;
  }

  a {
    padding: 4px 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    position: relative;
    display: inline-block;
    letter-spacing: -.02em;

    &::before {
      color: #9ec1ff;
      content: '#';
      position: absolute;
      left: -10px;
      transition: .2s color ease;
    }

    &:hover {
      color: var(--blue);

      &::before {
        color: var(--blue);
      }
    }
  }
}

main {
  h1,
  h2,
  h3 {
    a.linked {
      color: inherit;
      font-weight: inherit;
      position: relative;
      outline: none;

      &::before {
        background-color: #9ec1ff;
        height: 16px;
        width: 16px;
        content: '';
        mask: url('/docs/assets/img/link.svg');
        mask-size: cover;
        position: absolute;
        left: -20px;
        top:5px;
        transition: .2s background-color ease;
      }

      &:hover {
        color: var(--darker);

        &::before {
          background-color: var(--blue);
        }
      }
    }
  }
}
