@import 'src/styles/variables';

table-of-contents {
  padding-top: 17px;
  display: block;

  strong {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 800;
    color: #abb2bf;
    letter-spacing: 0.1em;
  }

  ul {
    margin-top: 4px;
    padding-left: 10px;
  }

  li {
    margin-bottom: 0;
    line-height: 1em;
    list-style: none;
  }

  a {
    padding: 4px 0;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    position: relative;
    display: inline-block;
    letter-spacing: -.02em;

    &::before {
      color: lighten($blue, 20);
      content: '#';
      position: absolute;
      left: -10px;
      transition: .2s color ease;
    }

    &:hover {
      color: $blue;

      &::before {
        color: $blue;
      }
    }
  }
}

main {
  h1,
  h2,
  h3 {
    a.linked {
      color: inherit;
      position: relative;

      &::before {
        color: lighten($blue, 20);
        content: '#';
        position: absolute;
        left: -20px;
        transition: .2s color ease;
      }

      &:hover {
        color: $darker;

        &::before {
          color: $blue;
        }
      }
    }
  }
}