docs-table-of-contents {
  display: block;
  font-size: 13px;
  margin-bottom: 2rem;
}

docs-table-of-contents .Nav-header {
  color: var(--text-color--lighter);
  font-size: 0.75em;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 0;
}

docs-table-of-contents ul {
  padding: 0;
  list-style: none;
  line-height: 1.23em;
}

docs-table-of-contents .Nav-link {
  padding-left: 0;
  margin-left: 0;
}

docs-table-of-contents a {
  color: inherit;
  display: inline-block;
  transition: .2s color, .3s transform ease-out;
}

docs-table-of-contents .Nav-link.selected a {
  color: var(--accent-color);
  transform: translateX(2px);
}
