.colorGenerator {
  display: flex;
  flex-direction: column;
}

.preview-column {
  max-width: 480px;
  min-height: 700px;
}

.selector-column {
  max-width: 600px;
  height: 100%;
  overflow-y: scroll;
}

#css-proxy {
  display: none;
}
