:host {
  display: block;
  font-size: 12px;
  max-width: 30em;
}

.Card {
  background-color: var(--background);
  border-radius: 4px;
  box-shadow: 0px 0.175em 0.5em rgba(2, 8, 20, 0.1), 0px 0.085em 0.175em rgba(2, 8, 20, 0.08);
  color: var(--text-color--light);
  display: flex;
  flex-direction: column;
  font-size: inherit;
  font-weight: normal;
  height: 100%;
  text-decoration: none;
  justify-content: flex-start;
  line-height: 1.6;
  transition: box-shadow 150ms ease, transform 150ms ease;
  width: 100%;
  overflow: hidden;
}

.Card-with-image {
  grid-row: span 2;
}

.Card-without-image {
  font-size: 12px;
}

.Card-container {
  padding: 1.65em 2em 1.65em;
}

.Card-image {
  width: 100%;
  height: auto;
}

.Card-icon {
  width: 48px;
  height: 48px;

  margin-bottom: 1.2em;
}

@media (hover: hover) {
  .Card[href]:hover {
    box-shadow: 0 0.35em 1.175em rgba(2, 8, 20, 0.1), 0 0.175em 0.5em rgba(2, 8, 20, 0.08);
    transform: translateY(-1px);
  }
}

.Card-content > *:first-child {
  margin-top: 0;
}

.Card-content > *:last-child {
  margin-bottom: 0;
}

.Card-content > * {
  margin: 0 0 0.65em;
}

.Card-header {
  color: var(--text-color--dark);
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 0.45em;
}

.Card-without-image .Card-header {
  font-size: 1.2em;
  margin-bottom: 0.3em;

}

.Card-header > svg {
  fill: currentColor;
  height: 1em;
  margin-bottom: -0.125em;
  width: auto;
}
