:root {
  --ifm-code-padding-vertical: 0.25rem;
  --ifm-code-font-size: 0.813rem;
  --ifm-code-background: var(--c-indigo-10);
  --ifm-code-color: var(--token-heading-color-dark);
}

code {
  border: none;

  padding: 0.375rem 0.25rem 0.25rem;
}
