html[data-theme='light'] {
  --markdown-toc-title-c: var(--c-indigo-60);
  --markdown-toc-list-item-c: var(--c-indigo-70);
  --markdown-text-intro-c: var(--c-indigo-80);
}

html[data-theme='dark'] {
  --markdown-toc-title-c: #fff;
  --markdown-toc-list-item-c: #fff;
  --markdown-text-intro-c: #fff;
}

.markdown {
  .encapsulation-pill {
    position: absolute;
    top: calc(
      var(--ifm-navbar-height) + var(--doc-item-main-spacing-y) - 0.5rem
    );
  }

  > * {
    max-width: 100%;
  }

  p,
  li,
  td,
  tr {
    font-size: 1rem;
    letter-spacing: var(--letter-spacing-tight);
  }

  p,
  li {
    line-height: 200%;
  }

  //intro paragraphs
  header + p {
    color: var(--markdown-text-intro-c);
    font-size: 1.25rem;

    + p {
      color: var(--markdown-text-intro-c);
      font-size: 1.25rem;
    }
  }

  .table-of-contents {
    margin-block-end: 3rem;

    list-style: none;
    padding: 0;

    &__title {
      color: var(--markdown-toc-title-c);
      margin-block-end: 1.5rem;

      font-weight: bold;
      text-transform: uppercase;
      font-size: 0.625rem;
      line-height: 0.75rem;
      letter-spacing: 0.08em;
    }

    li {
      color: var(--markdown-toc-list-item-c);
      font-size: 0.75rem;
      line-height: 0.875rem;
      margin: 0;

      a {
        color: inherit;
      }

      + li {
        margin-block-start: 0.75rem;
      }
    }
  }
}
