@import 'src/styles/variables';
@import 'src/styles/mixins';

dropdown-version {
  flex-grow: 1;
  position: relative;

  .current {
    background: white;
    box-shadow: 0 1px 1px rgba(black, .06);
    border: 1px solid #e1e5ed;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: -.08em;
    margin: 10px 0 15px;
    min-width: 111px;
    outline: none;
    padding: 9px 10px 8px;
    position: relative;
    text-align: left;
    transition: .2s box-shadow ease;
    vertical-align: text-top;

    &::after {
      border-top: 4px solid $dark-gray;
      border-left: 3px solid transparent;
	    border-right: 3px solid transparent;
      content: '';
      display: inline-block;
      margin-left: 8px;
      position: absolute;
      top: 14px;
      right: 11px;
      vertical-align: middle;
      transition: .2s border-top-color ease;
    }

    &:hover {
      box-shadow: 0 1px 2px 1px rgba(black, .04);

      &::after {
        border-top-color: black;
      }
    }
  }

  ul {
    background: white;
    border-radius: 8px;
    position: absolute;
    list-style: none;
    min-width: 160px;
    display: block;
    padding: 7px 0 10px;
    z-index: 1;
    top: 29px;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-5px);
    box-shadow: 0 4px 16px rgba(black, .2);
    transition: .4s opacity ease, .4s transform;

    &::after {
      content: '';
      height: 10px;
      left: 0;
      right: 0;
      top: -10px;
      position: absolute;
    }

    &.active {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all;
      transition: .2s opacity ease, .4s transform;
    }
  }

  li {
    display: block;
    margin-bottom: 0;

    &.active {
      color: #26292e;
      background: #f6f8fc;

      a::after {
        font-family: 'Ionicons';
        display: inline-block;
        position: absolute;
        content: '\\f2bc';
        font-size: 14px;
        color: $blue;
        right: 19px;
        top: 4px;
      }
    }

    a {
      padding: 4px 19px;
      display: block;
      position: relative;
      outline: none;
      color: #999;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: -.04em;

      &:hover {
        a::after {
          opacity: 1;
        }
      }
    }
  }
}
