@charset "UTF-8";

.native-ee-detail {
  float: right;
  cursor: pointer;
}

.cordova-ee-img{
  width:50px;
  float:left;
  margin-right:20px;
}

.cordova-ee-card{
  max-width:100%;
}

.native-ee-pricing svg {
    width:1em;
    height:1em;
    color:#00d287;
    fill:#00d287;
}

.native-ee-pricing .table-wrap {
  overflow-x: auto;
  max-width: 100%;
}

.native-ee-pricing-table {
  font-size: 18px;
  color: #020814;
  font-weight: 700;
  margin: 0;
  letter-spacing: -0.01em;
}

.native-ee-pricing table,
.native-ee-pricing .table {
  margin-bottom: 0;
  border-style: none;
}
.native-ee-pricing thead tr td:first-child,
.native-ee-pricing thead tr th:first-child,
.native-ee-pricing tbody tr td:first-child,
.native-ee-pricing tbody tr th:first-child {
  padding-left: 36px;
}
.native-ee-pricing thead tr td:last-child,
.native-ee-pricing thead tr th:last-child,
.native-ee-pricing tbody tr td:last-child,
.native-ee-pricing tbody tr th:last-child {
  padding-right: 36px;
}
.native-ee-pricing thead th,
.native-ee-pricing tbody td {
  width: 30%;
}
.native-ee-pricing thead th, .native-ee-pricing thead td {
  background: #fff;
  border-bottom: 1px solid rgba(232, 235, 241, 0.6);
  padding-bottom: 20px;
  vertical-align: bottom;
  border: 0;
}
.native-ee-pricing thead th {
  text-align: center;
}
.native-ee-pricing thead th h2 {
  padding-top: 0;
  margin-bottom: 0;
}
.native-ee-pricing thead .eyebrow {
  font-size: 10px;
  color: #94a0b7;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 700;
  margin-bottom: 4px;
  display: inline-block;
}
.native-ee-pricing thead h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  letter-spacing: -0.01em;
  color: #020814;
}
.native-ee-pricing thead .price {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #5B708B;
}
.native-ee-pricing thead .price strong {
  font-size: 16px;
  font-weight: 600;
}
.native-ee-pricing thead .btn {
  margin-top: 8px;
}
.native-ee-pricing thead .btn--primary {
  background: #3880FF;
  color: #fff;
}
.native-ee-pricing thead .btn--primary:hover {
  background: #478aff;
}
.native-ee-pricing thead .btn--dark {
  background: #213049;
  color: #CDDFFF;
  border: 0;
}
.native-ee-pricing thead .btn--dark:hover {
  background: #31476c;
}
.native-ee-pricing thead .plan-wrap {
  display: inline-block;
  text-align: center;
  border: 0;
}
.native-ee-pricing tbody th,
.native-ee-pricing tbody td {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  padding-right: 16px;
}
.native-ee-pricing tbody .pill {
  margin-top: -2px;
  margin-left: 2px;
  background: none;
}
.native-ee-pricing tbody .pill--blue {
  margin-left: 8px;
}
.native-ee-pricing tbody tr.combined th, .native-ee-pricing tbody tr.combined td {
  padding-top: 45px;
  padding-bottom: 22px;
}
.native-ee-pricing tbody tr.combined th {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #333;
}
.native-ee-pricing tbody th {
  font-weight: 400;
  vertical-align: middle;
  border: 0;
}
.native-ee-pricing tbody th[colspan="4"] span {
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: #020814;
  border-top: none;
  padding-top: 30px;
  padding-bottom: 8px;
}
.native-ee-pricing tbody th:not([colspan="4"]) {
  color: #4E5B6A;
}
.native-ee-pricing tbody th strong {
  font-size: 14px;
  font-weight: 600;
  display: block;
  color: #565c67;
}
.native-ee-pricing tbody th strong b {
  font-weight: 600;
  color: #171a20;
}
.native-ee-pricing tbody th strong b a {
  transition: border 0.3s;
  display: inline-block;
  color: #171a20;
  border-bottom: 1px solid rgba(23, 26, 32, 0.2);
  line-height: 1;
}
.native-ee-pricing tbody th strong b a:hover {
  border-bottom: 1px solid rgba(23, 26, 32, 0.7);
}
.native-ee-pricing tbody th a {
  display: block;
  font-weight: 600;
}
.native-ee-pricing tbody th span {
  font-size: 12px;
  font-weight: 500;
  color: #999;
}
.native-ee-pricing tbody td,
.native-ee-pricing tbody th {
  background: #fff;
}
.native-ee-pricing tbody .stripe td,
.native-ee-pricing tbody .stripe th {
  background: #f8f9fb;
}
.native-ee-pricing tbody .small td,
.native-ee-pricing tbody .small th {
  border-bottom: 1px solid #E9EDF3;
  padding-top: 6px;
  padding-bottom: 6px;
}
.native-ee-pricing tbody .small th:first-child {
  color: #73849A;
  position: relative;
}
.native-ee-pricing tbody .small .check:before {
  font-size: 12px;
}
.native-ee-pricing tbody td {
  vertical-align: middle;
  text-align: center;
  font-weight: 400;
  border: 0;
  font-size: 13px;
  color: #4E5B6A;
}
.native-ee-pricing tbody .dash:before {
  content: "—";
  color: #c3ccdb;
}
.native-ee-pricing tbody .check:before {
  font-family: "Ionicons";
  content: "";
  color: #00d287;
  font-size: 16px;
  line-height: 1em;
}
.native-ee-pricing tbody tr:last-child td {
  padding-top: 24px;
}
.native-ee-pricing tbody .btn {
  transition: all .3s ease;
  background: #3880ff;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  border-radius: 6px;
  padding: 12px 18px 14px;
  width: 100%;
  white-space: nowrap;
  box-shadow: 0 1px 3px rgba(0,0,0,.08), 0 2px 4px rgba(0,0,0,.12);
}

.native-ee-pricing tbody .btn:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,.12), 0 3px 6px rgba(0,0,0,.08);
  background: #4d8dfd;
  color: #fff;
  outline: 0;
}

.native-ee-pricing tbody .btn.sm {
  font-size: 12px;
  letter-spacing: 0.1em;
}
.native-ee-pricing tbody .btn.dark {
  background-color: #213049;
  color: #CDDFFF;
}
.native-ee-pricing tbody .btn.dark:hover {
  background-color: #293c5b;
}
.native-ee-pricing .btn-secondary {
  background-color: #e1efff;
  color: #3880ff;
  box-shadow: none;
}
.native-ee-pricing .btn-secondary:hover {
  background-color: #eaf3fd;
}
.native-ee-pricing .btn-secondary:active, .native-ee-pricing .btn-secondary:active:focus, .native-ee-pricing .btn-secondary:active:hover {
  background-color: #d8eafe;
}
.native-ee-pricing .pinned table {
  padding-top: 140px;
  display: block;
}
.native-ee-pricing .pinned thead {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.native-ee-pricing .pinned thead tr {
  display: flex;
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}
.native-ee-pricing .pinned thead td {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.native-ee-pricing .pinned tbody {
  display: block;
}
.native-ee-pricing .pinned tbody tr {
  display: flex;
  width: 100%;
}
.native-ee-pricing .pinned tbody th {
  flex: 1 0 auto;
}
.native-ee-pricing .pinned-at-point thead {
  position: absolute;
}
.native-ee-pricing .pinned-at-point thead tr {
  padding: 0;
}

.native-solutions-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-bottom: 10px;
}