.page--docs docs-cards {
  margin-top: 48px;

  font-size: 14px;

  /* grid-template-columns: repeat(auto-fit, minmax(240px, 45%)); */
}

.page--docs docs-card .Card-icon {
  background: #f6f8fb;

  object-fit: none;
}

.page--docs docs-card .Card-icon-hover {
  background: #e7f4ff;
}
