.page-index docs-cards {
  margin-top: 48px;

  font-size: 14px;

  grid-template-columns: repeat(auto-fit, minmax(240px, 45%));
}

.page-index docs-card .Card-icon {
  background: #f6f8fb;

  object-fit: none;
}

.page-index docs-card .Card-icon-hover {
  background: #e7f4ff;
}

.page-building-migration figure,
.page-building-migration figure file-tree {
  height: 100%;
}
