.page-layout-css-utilities {

  .preview-row {
    display: flex;
    flex-wrap: wrap;
  }

  .preview-col {
    position: relative;
    padding: 5px;
    width: 100%;
    min-height: 1px;
    font-size: 14px;

    flex-basis: 0;
    flex-grow: 1;

    margin: 5px;
  }

  .preview-col,
  .margin-col div {
    background-color: #f5f7fa;
    border: 1px solid #e4e8f0;
  }

  .preview-col[text-nowrap] {
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .preview-col[float-left],
  .preview-col[float-right] {
    flex: 0 0 150px;
  }

  .preview-col[float-right] {
    margin-left: auto;
  }

  .padding-col {
    padding: 0;
    background-image: linear-gradient(to bottom, rgba(240, 245, 255, 1) 0%, rgba(240, 245, 255, 1) 100%), linear-gradient(to bottom, rgba(195, 224, 183, 1) 0%, rgba(195, 224, 183, 1) 100%);
    background-clip: content-box, padding-box;
  }

  .margin-col {
    padding: 0;
    border: none;
    background-color: #facd9a;

    div {
      height: 100%;
      width: 100%;
    }
  }


  // Ionic Attributes
  // ------------------------------

  [text-center] {
    text-align: center;
  }

  [text-justify] {
    text-align: justify;
  }

  [text-start] {
    text-align: start;
  }

  [text-end] {
    text-align: end;
  }

  [text-left] {
    text-align: left;
  }

  [text-right] {
    text-align: right;
  }

  [text-nowrap] {
    white-space: nowrap;
  }

  [text-wrap] {
    white-space: normal;
  }

  [text-uppercase] {
    text-transform: uppercase;
  }

  [text-lowercase] {
    text-transform: lowercase;
  }

  [text-capitalize] {
    text-transform: capitalize;
  }

  [padding] {
    padding: 16px;
  }

  [padding-top] {
    padding-top: 16px;
  }

  [padding-right] {
    padding-right: 16px;
  }

  [padding-bottom] {
    padding-bottom: 16px;
  }

  [padding-left] {
    padding-left: 16px;
  }

  [padding-vertical] {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  [padding-horizontal] {
    padding-left: 16px;
    padding-right: 16px;
  }

  [margin] {
    margin: 16px;
  }

  [margin-top] {
    margin-top: 16px;
  }

  [margin-right] {
    margin-right: 16px;
  }

  [margin-bottom] {
    margin-bottom: 16px;
  }

  [margin-left] {
    margin-left: 16px;
  }

  [margin-vertical] {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  [margin-horizontal] {
    margin-left: 16px;
    margin-right: 16px;
  }
}
