.page-layout-grid {
  ion-col {
    padding: 5px;
  }
}

.page-layout-grid,
.page-layout-css-utilities {
  ion-grid {
    padding: 0 0 20px 0;
  }

  ion-col div {
    background-color: #f5f7fa;
    border: 1px solid #e4e8f0;
    padding: 5px;
  }
}

.page-layout-structure {
  code-preview > iframe {
    min-height: 300px;
  }
}

.page-layout-css-utilities {
  ion-grid {
    --ion-grid-column-padding: 0;
  }

  ion-row {
    align-items: stretch;
  }

  ion-col {
    margin: 5px;
  }

  ion-col div {
    height: 100%;
  }

  ion-col,
  ion-col h3 {
    font-size: 14px;
  }

  ion-col h3 {
    padding-top: 0;
    margin-top: 0;
  }

  ion-col {
    min-width: 0;
  }


  // Text Alignment
  //---------------------------------------------------------

  ion-col div[text-nowrap] {
    overflow: hidden;
    text-overflow: ellipsis;
  }


  // Float Elements
  //---------------------------------------------------------

  ion-col[float-left],
  ion-col[float-right] {
    flex: 0 0 33%;
  }

  ion-col[float-right] {
    margin-left: auto;
  }

  // Element Padding
  //---------------------------------------------------------

  ion-col[padding],
  ion-col[padding-top],
  ion-col[padding-start],
  ion-col[padding-end],
  ion-col[padding-bottom],
  ion-col[padding-vertical],
  ion-col[padding-horizontal],
  ion-col[no-padding] {
    background-image: linear-gradient(to bottom, rgba(240, 245, 255, 1) 0%, rgba(240, 245, 255, 1) 100%), linear-gradient(to bottom, rgba(195, 224, 183, 1) 0%, rgba(195, 224, 183, 1) 100%);
    background-clip: content-box, padding-box;
  }

  // Element Margin
  //---------------------------------------------------------
  // The below is somewhat of a hack to remove margin and add
  // padding so that we can show margin with an orange background

  ion-col[margin],
  ion-col[margin-top],
  ion-col[margin-start],
  ion-col[margin-end],
  ion-col[margin-bottom],
  ion-col[margin-vertical],
  ion-col[margin-horizontal],
  ion-col[no-margin] {
    margin: 5px;
    background-color: #facd9a;
  }

  ion-col[margin] {
    padding: 16px;
  }

  ion-col[margin-top] {
    padding-top: 16px;
  }

  ion-col[margin-start] {
    padding-left: 16px;
  }

  ion-col[margin-end] {
    padding-right: 16px;
  }

  ion-col[margin-bottom] {
    padding-bottom: 16px;
  }

  ion-col[margin-vertical] {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  ion-col[margin-horizontal] {
    padding-left: 16px;
    padding-right: 16px;
  }
}
