.page-release-notes {
  --page-width: 1000px;
}

.page-release-notes .release-note {
  display: flex;
  align-items: top;

  margin-bottom: 40px;
}

.page-release-notes h2 {
  margin: 0;

  font-size: 24px;
  line-height: normal;
}

.page-release-notes h3 {
  font-size: 18px;
}

.page-release-notes h2,
.page-release-notes h3 {
  padding-top: 0;
}

.page-release-notes .release-tag-wrapper {
  min-width: 180px;

  text-align: right;
}

.page-release-notes .release-tag-wrapper h2 {
  font-size: 15px;

  margin-right: 20px;
}

.page-release-notes .release-tag {
  padding: 6px 12px;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  border-radius: 3px;

  background: var(--accent-color);
  color: #fff;

  line-height: normal;
}

.page-release-notes blockquote {
  margin-left: 0;

  background: rgba(var(--accent-color-rgb), 0.05);
  border-color: var(--accent-color);
}

.page-release-notes a {
  color: var(--accent-color);
}