* {
  box-sizing: border-box;
}

::selection {
  background: #e1ecff;
}

::-moz-selection {
  background: #e1ecff;
}

html,
body {
  color: var(--dark);
  font-family: var(--font-family-sans);
  font-size: 16px;
  height: 100%;
  letter-spacing: -0.025em;
  margin: 0;
  overflow: hidden;
  text-size-adjust: none;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  overflow: hidden;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
