/* $fontCDN: '/docs/assets/fonts';
$avenir-font-path: '/docs/assets/fonts/avenir-next';
$eina-font-path: '/docs/assets/fonts/eina'; */
/* $ionicons-font-path: '/docs/assets/fonts/ionicons/3.0.0-alpha.3'; */

/* @import "../../node_modules/ionicons/dist/css/ionicons-core.css"; */

@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Bold'),
       url('/docs/assets/fonts/avenir-next/bold.woff2') format('woff2'),
       url('/docs/assets/fonts/avenir-next/bold.woff') format('woff'),
       url('/docs/assets/fonts/avenir-next/bold.ttf') format('ttf'),
       url('/docs/assets/fonts/avenir-next/bold.eot?#iefix') format('eot');
  font-weight: 700;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Demi Bold'),
       url('/docs/assets/fonts/avenir-next/demi.woff2') format('woff2'),
       url('/docs/assets/fonts/avenir-next/demi.woff') format('woff'),
       url('/docs/assets/fonts/avenir-next/demi.ttf') format('ttf'),
       url('/docs/assets/fonts/avenir-next/demi.eot?#iefix') format('eot');
  font-weight: 600;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Medium'),
       url('/docs/assets/fonts/avenir-next/medium.woff') format('woff'),
       url('/docs/assets/fonts/avenir-next/medium.ttf') format('truetype'),
       url('/docs/assets/fonts/avenir-next/medium.eot?#iefix') format('eot');
  font-weight: 500;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Regular'),
       url('/docs/assets/fonts/avenir-next/regular.woff') format('woff'),
       url('/docs/assets/fonts/avenir-next/regular.ttf') format('ttf'),
       url('/docs/assets/fonts/avenir-next/regular.eot?#iefix') format('eot');
  font-weight: 400;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Thin'),
       url('/docs/assets/fonts/avenir-next/thin.woff2') format('woff2'),
       url('/docs/assets/fonts/avenir-next/thin.woff') format('woff'),
       url('/docs/assets/fonts/avenir-next/thin.ttf') format('ttf'),
       url('/docs/assets/fonts/avenir-next/thin.eot?#iefix') format('eot');
  font-weight: 300;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Ultra Light'),
       url('/docs/assets/fonts/avenir-next/ultralight.woff2') format('woff2'),
       url('/docs/assets/fonts/avenir-next/ultralight.woff') format('woff'),
       url('/docs/assets/fonts/avenir-next/ultralight.ttf') format('ttf'),
       url('/docs/assets/fonts/avenir-next/ultralight.eot?#iefix') format('eot');
  font-weight: 200;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Eina';
  src: local('Eina 03 Bold'),
       url('/docs/assets/fonts/eina/eina-03-bold.woff2') format('woff2'),
       url('/docs/assets/fonts/eina/eina-03-bold.woff') format('woff'),
       url('/docs/assets/fonts/eina/eina-03-bold.ttf') format('ttf'),
       url('/docs/assets/fonts/eina/eina-03-bold.eot?#iefix') format('eot');
  font-weight: 700;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Eina';
  src: local('Eina 03 SemiBold'),
       url('/docs/assets/fonts/eina/eina-03-semibold.woff2') format('woff2'),
       url('/docs/assets/fonts/eina/eina-03-semibold.woff') format('woff'),
       url('/docs/assets/fonts/eina/eina-03-semibold.ttf') format('ttf'),
       url('/docs/assets/fonts/eina/eina-03-semibold.eot?#iefix') format('eot');
  font-weight: 600;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Eina';
  src: local('Eina 03 Regular'),
       url('/docs/assets/fonts/eina/eina-03-regular.woff2') format('woff2'),
       url('/docs/assets/fonts/eina/eina-03-regular.woff') format('woff'),
       url('/docs/assets/fonts/eina/eina-03-regular.ttf') format('ttf'),
       url('/docs/assets/fonts/eina/eina-03-regular.eot?#iefix') format('eot');
  font-weight: 400;
  unicode-range: U+000-5FF;
}