@font-face {
  font-family: 'Eina';
  src: local('Eina 03 Bold'),
       url('/docs/assets/fonts/eina/eina-03-bold.woff2') format('woff2'),
       url('/docs/assets/fonts/eina/eina-03-bold.woff') format('woff'),
       url('/docs/assets/fonts/eina/eina-03-bold.ttf') format('ttf'),
       url('/docs/assets/fonts/eina/eina-03-bold.eot?#iefix') format('eot');
  font-weight: 700;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Eina';
  src: local('Eina 03 SemiBold'),
       url('/docs/assets/fonts/eina/eina-03-semibold.woff2') format('woff2'),
       url('/docs/assets/fonts/eina/eina-03-semibold.woff') format('woff'),
       url('/docs/assets/fonts/eina/eina-03-semibold.ttf') format('ttf'),
       url('/docs/assets/fonts/eina/eina-03-semibold.eot?#iefix') format('eot');
  font-weight: 600;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Eina';
  src: local('Eina 03 Regular'),
       url('/docs/assets/fonts/eina/eina-03-regular.woff2') format('woff2'),
       url('/docs/assets/fonts/eina/eina-03-regular.woff') format('woff'),
       url('/docs/assets/fonts/eina/eina-03-regular.ttf') format('ttf'),
       url('/docs/assets/fonts/eina/eina-03-regular.eot?#iefix') format('eot');
  font-weight: 400;
  unicode-range: U+000-5FF;
}
