$fontCDN: '/docs/assets/fonts';
$avenir-font-path: '#{$fontCDN}/avenir-next';
$eina-font-path: '#{$fontCDN}/eina';
$ionicons-font-path: '#{$fontCDN}/ionicons/3.0.0-alpha.3';

@import "node_modules/ionicons/dist/scss/ionicons";

@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Bold'),
       url('#{$avenir-font-path}/bold.woff2') format('woff2'),
       url('#{$avenir-font-path}/bold.woff') format('woff'),
       url('#{$avenir-font-path}/bold.ttf') format('ttf'),
       url('#{$avenir-font-path}/bold.eot?#iefix') format('eot');
  font-weight: 700;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Demi Bold'),
       url('#{$avenir-font-path}/demi.woff2') format('woff2'),
       url('#{$avenir-font-path}/demi.woff') format('woff'),
       url('#{$avenir-font-path}/demi.ttf') format('ttf'),
       url('#{$avenir-font-path}/demi.eot?#iefix') format('eot');
  font-weight: 600;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Medium'),
       url('#{$avenir-font-path}/medium.woff') format('woff'),
       url('#{$avenir-font-path}/medium.ttf') format('truetype'),
       url('#{$avenir-font-path}/medium.eot?#iefix') format('eot');
  font-weight: 500;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Regular'),
       url('#{$avenir-font-path}/regular.woff') format('woff'),
       url('#{$avenir-font-path}/regular.ttf') format('ttf'),
       url('#{$avenir-font-path}/regular.eot?#iefix') format('eot');
  font-weight: 400;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Thin'),
       url('#{$avenir-font-path}/thin.woff2') format('woff2'),
       url('#{$avenir-font-path}/thin.woff') format('woff'),
       url('#{$avenir-font-path}/thin.ttf') format('ttf'),
       url('#{$avenir-font-path}/thin.eot?#iefix') format('eot');
  font-weight: 300;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Avenir Next';
  src: local('Avenir Next Ultra Light'),
       url('#{$avenir-font-path}/ultralight.woff2') format('woff2'),
       url('#{$avenir-font-path}/ultralight.woff') format('woff'),
       url('#{$avenir-font-path}/ultralight.ttf') format('ttf'),
       url('#{$avenir-font-path}/ultralight.eot?#iefix') format('eot');
  font-weight: 200;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Eina';
  src: local('Eina 03 Bold'),
       url('#{$eina-font-path}/eina-03-bold.woff2') format('woff2'),
       url('#{$eina-font-path}/eina-03-bold.woff') format('woff'),
       url('#{$eina-font-path}/eina-03-bold.ttf') format('ttf'),
       url('#{$eina-font-path}/eina-03-bold.eot?#iefix') format('eot');
  font-weight: 700;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Eina';
  src: local('Eina 03 SemiBold'),
       url('#{$eina-font-path}/eina-03-semibold.woff2') format('woff2'),
       url('#{$eina-font-path}/eina-03-semibold.woff') format('woff'),
       url('#{$eina-font-path}/eina-03-semibold.ttf') format('ttf'),
       url('#{$eina-font-path}/eina-03-semibold.eot?#iefix') format('eot');
  font-weight: 600;
  unicode-range: U+000-5FF;
}
@font-face {
  font-family: 'Eina';
  src: local('Eina 03 Regular'),
       url('#{$eina-font-path}/eina-03-regular.woff2') format('woff2'),
       url('#{$eina-font-path}/eina-03-regular.woff') format('woff'),
       url('#{$eina-font-path}/eina-03-regular.ttf') format('ttf'),
       url('#{$eina-font-path}/eina-03-regular.eot?#iefix') format('eot');
  font-weight: 400;
  unicode-range: U+000-5FF;
}