* {
  box-sizing: border-box;
}

::selection {
  background: #e1ecff;
}

::-moz-selection {
  background: #e1ecff;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}