@font-face {
  src: url("/docs/assets/fonts/eina-700.woff2") format("woff2"), url("/docs/assets/fonts/eina-700.woff") format("woff");
  font-family: "Eina";
  font-style: normal;
  font-weight: 700;
}

:root {
  --background-color: var(--color-white);
  --code-color: #3b00ff;
  --code-font-family: "SFMono-Regular", "Roboto Mono", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  --font-family: system-ui, sans-serif;
  --header-font-family: "Eina", var(--font-family);
  --link-color: #005cff;
  --line-rule-color: #edf2f6;
  --text-color: #3c4b62;
  --text-color--dark: #24282e;
  --text-color--light: #6e7f99;
  --text-color--lighter: #abb2bf;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  text-size-adjust: none;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: var(--link-color);
  font-weight: 500;
  text-decoration: none;
}

p.intro {
  color: var(--text-color--light);
  font-size: 1.2em;
  margin-bottom: 1.2em;
}

p.intro code {
  font-size: 15px;
  font-weight: 500;
}

p.intro strong {
  font-weight: 500;
  color: var(--text-color);
}

ol,
ul {
  padding-left: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color--dark);
  font-family: var(--header-font-family);
  letter-spacing: -0.03em;
  line-height: 1.2;
  padding-top: 0.75em;
}

h1 {
  font-size: 3rem;
  padding-top: 0;
}

h2 {
  font-size: 1.75rem;
  padding-top: 2em;
}

h3 {
  font-size: 1.375rem;
}

h2 + h3 {
  padding-top: 0;
}

blockquote {
  background: rgba(255, 250, 237, 0.8);
  border-left: 4px solid #ffcc5f;
  border-radius: 2px 4px 4px 2px;
  color: #736545;
  font-size: 14px;
  line-height: 1.8;
  margin: 1em;
  padding: 2em;
}

blockquote a {
  border-bottom: dotted 1px currentColor;
  color: #e09f16;
}

blockquote > *:first-child {
  margin-top: 0;
}

blockquote > *:last-child {
  margin-bottom: 0;
}

blockquote code {
  background: #f7f1e6;
  color: #381600;
  font-weight: 500;
}

code {
  background-color: rgba(0, 0, 100, 0.03);
  border-radius: 4px;
  color: var(--code-color);
  font-family: var(--code-font-family);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  padding: 4px 6px;
  white-space: pre-wrap;
}

pre {
  background-color: #f5f6f9;
  border-radius: 4px;
  line-height: 1.2;
  margin: 2rem 0;
  overflow: auto;
  padding: 20px;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-weight: 500;
  padding: 0;
  white-space: inherit;
}

table {
  border-width: 1px 0 0 1px;
  font-size: 13px;
  margin: 2em 0;
  overflow-x: auto;
  width: 100%;
}

table,
td,
th {
  border-collapse: collapse;
  border-color: var(--line-rule-color);
  border-style: solid;
}

td,
th {
  border-width: 0 1px 1px 0;
  line-height: 1.4;
  padding: 1em;
  text-align: left;
}

table code {
  white-space: nowrap;
}

tbody tr:nth-child(odd) {
  background-color: #fdfdfd;
}
