@import 'variables';

%header {
  background: $blue;
  color: $header-color;
  position: sticky;

  h1,
  h2,
  h3,
  h4,
  p,
  li {
    color: $header-color;
    margin: 0;
  }
}

%site-grid-component {
  padding: 23px 32px 20px;
  max-height: 100%;
  overflow: scroll;
}