:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 34px;
}

.action-sheet-ios .action-sheet-wrapper {
  margin: var(--ion-safe-area-top) auto var(--ion-safe-area-bottom);
}

.app-ios.statusbar-padding .ion-page>.toolbar,
.app-ios.statusbar-padding .ion-page>ion-header>.toolbar,
.app-ios.statusbar-padding ion-menu>.menu-inner>.toolbar,
.app-ios.statusbar-padding ion-menu>.menu-inner>ion-header>.toolbar,
.app-ios.statusbar-padding>ion-header>.toolbar {
  padding-top: calc(var(--ion-safe-area-top) + 0px);
  min-height: calc(44px + var(--ion-safe-area-top));
}

app-ios.statusbar-padding .ion-page>.toolbar ion-title,
.app-ios.statusbar-padding .ion-page>ion-header>.toolbar ion-title,
.app-ios.statusbar-padding ion-menu>.menu-inner>.toolbar ion-title,
.app-ios.statusbar-padding ion-menu>.menu-inner>ion-header>.toolbar ion-title,
.app-ios.statusbar-padding>ion-header>.toolbar ion-title {
  padding-top: var(--ion-safe-area-top);
  height: calc(44px + var(--ion-safe-area-top));
  min-height: calc(44px + var(--ion-safe-area-top));
}

.app-ios ion-footer .toolbar,
.app-ios ion-footer .toolbar:last-child {
  padding-bottom: calc(4px + var(--ion-safe-area-bottom));
  min-height: calc(44px + var(--ion-safe-area-bottom));
}

.app-ios ion-footer .toolbar .title {
  padding-bottom: var(--ion-safe-area-bottom);
}

.picker-columns {
  margin-bottom: var(--ion-safe-area-bottom);
}

.app-ios ion-tabs ion-tabbar:not(.placement-top) {
  padding-bottom: var(--ion-safe-area-bottom);
  height: calc(50px + var(--ion-safe-area-bottom));
}