/* @import './variables'; */

h1, h2, h3, h4 {
  color: var(--blackish);
  font-weight: 700;
}

h1 {
  font-size: 32px;
  letter-spacing: -.03em;
}

h2 {
  font-size: 20px;
  padding-top: 48px;
  margin-top: -24px;
  margin-bottom: .9em;
}

h3 {
  padding-top: 4em;
  margin-top: -2em;
  font-size: 16px;
  letter-spacing: -.025em;
  margin-bottom: 1.3em;
}

p, ul {
  color: var(--dark);
  font-size: 14px;
  letter-spacing: -.02em;
  line-height: 2em;
  margin-bottom: 2.16em;
  font-weight: 400;
}

ul {
  padding: 1px 0 14px 17px;
}

li {
  margin-bottom: 1.08em;
}

code {
  background: #f5f7fa;
  color: #e44871;
}

pre code {
  color: #334561;
}

a,
stencil-route-link {
  color: var(--blue);
  text-decoration: none;
  font-weight: 600;
  transition: .2s color ease;

  &:hover {
    color: #619aff;
    text-decoration: none;
  }
}

stencil-route-link:hover {
  cursor: pointer;
}
