:root {
  --font-family-eina: 'Eina', 'Helvetica Neue', Helvetica, sans-serif;
  --font-family-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-code: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;

  --blue: #3880ff;
  --blacker:    #16161d;
  --blackish:   #24282e;
  --darker:     #333;
  --dark:       #3c4b62;
  --darkish:    #545d69;
  --dark-gray:  #71757c;
  --gray:       #808d9f;
  --light-gray: #abb2bf;
  --whiteish:   #edf2f6;
  --whiter:     #f6f8fc;

  --header-background: var(--blue);
  --header-color: white;
  --header-color-secondary: #b1d9ff;
  --header-height: 64px;
}
