menu-expander {
  & + ul {

    stencil-route-link {
      display: block;
      transition:
        height cubic-bezier(0.36, 0.66, 0.04, 1) 0.2s,
        opacity cubic-bezier(0.36, 0.66, 0.04, 1) 0.2s;
    }

    &:not(.expanded) {
      pointer-events: none;

      stencil-route-link {
        opacity: 0;
        height: 0;
      }
    }
  }
}