menu-expander {
    height: 28px;

    & + ul {
        transition: opacity cubic-bezier(0.36, 0.66, 0.04, 1) 0.3s;

        stencil-route-link {
            display: block;
            transition: height cubic-bezier(0.36, 0.66, 0.04, 1) 0.3s,
            padding cubic-bezier(0.36, 0.66, 0.04, 1) 0.3s,
            opacity 0.2s;
            height: 34px;
        }

        &.collapsed {
            opacity: 0;

            stencil-route-link  {
                padding: 0;
                height: 0 !important;
            }
        }
    }
}