tab-group {
  display: block;
  margin-bottom: 2em;
  margin-top: 1em;
}

tab-group header {
  border-bottom: solid 1px #e4e8f0;
  margin-bottom: 1rem;
  white-space: nowrap;
}

tab-group .tab-link {
  color: #a5acbb;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0.025em;
  padding: 1em 1.25em;
  position: relative;
  text-transform: uppercase;
  transition: color 100ms ease-in-out;

  &:after {
    background-color: transparent;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  &.is-selected {
    color: var(--blue);
  }

  &.is-selected:after {
    background-color: var(--blue);
  }

  &:hover {
    color:var(--blue);
  }
}

tab-group .tab {
  display: none;
}

tab-group .tab.is-selected {
  display: block;
}
