:global(html[data-theme='light']) {
  --doc-search-button-border-c: var(--c-indigo-30);
  --doc-search-shadow: var(--shadow-0);
  --doc-search-button-key-border-c: var(--c-indigo-20);
  --doc-search-button-key-text-primary-c: var(--c-indigo-70);
  --doc-search-button-key-text-secondary-c: var(--c-indigo-50);
}

:global(html[data-theme='dark']) {
  --doc-search-button-border-c: rgba(255, 255, 255, 0.05);
  --doc-search-shadow: 0px 1px 1px rgba(255, 255, 255, 0.05),
    0px 2px 4px rgba(255, 255, 255, 0.1), 0px -1px 1px rgba(255, 255, 255, 0.05),
    0px -2px 4px rgba(255, 255, 255, 0.1);
  --doc-search-button-key-border-c: var(--c-indigo-20);
  --doc-search-button-key-text-primary-c: #fff;
  --doc-search-button-key-text-secondary-c: var(--c-indigo-50);
}

:root {
  --doc-search-button-bg-c: var(--token-secondary-bg-c);
}

.docSearchButton {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 0.875rem 1fr 2.125rem;
  column-gap: 0.5rem;
  align-items: center;
  justify-items: flex-start;
  cursor: pointer;

  font-family: inherit;

  max-width: 14rem;

  background: var(--doc-search-button-bg-c);
  border: 1px solid var(--doc-search-button-border-c);
  box-sizing: border-box;
  border-radius: 8px;

  font-size: 0.875rem;
  line-height: 1.063rem;
  letter-spacing: -0.02em;

  color: var(--doc-search-button-key-text-primary-c);

  padding: 0.313rem 0.25rem 0.313rem 0.688rem;

  transition: border-color 0.15s ease-out, box-shadow 0.15s ease-out;

  &:hover {
    box-shadow: var(--doc-search-shadow);
  }
}

.docSearchButtonIcon {
  color: var(--doc-search-button-key-text-secondary-c);
}

.docSearchButtonKey {
  display: inline-block;
  color: var(--doc-search-button-key-text-secondary-c);

  border: 1px solid var(--doc-search-button-key-border-c);
  border-radius: 6px;

  padding: 0.25rem;
}
