sms-form form {
  padding: 1.2em;
  background: #F5F7FA;
  border-radius: 8px;
}

sms-form h6 {
  font-size: 0.85rem;
  margin: 0;
  padding: 0.2em 0 0.5em;
}

sms-form input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

sms-form input:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

sms-form button {
  transition: 0.2s background;
  display: inline-block;
  margin-top: 0.8em;
  padding: 0.75em 1em;

  background-color: #4D8DFF;
  color: #fff;
  font-size: 12px;
  letter-spacing: -0.03em;
  line-height: 1.1;
  font-weight: bold;

  border: 0;
  outline: 0;
  box-sizing: border-box;
  box-shadow: 0px 1px 2px rgba(2, 8, 20, 0.04);
  border-radius: 6px;

  cursor: pointer;
}

sms-form button:hover {
  background-color: #3e80f7;
}
