@import 'src/styles/variables';

uber-link {
  svg {
    height: 0.9em;
    margin-left: 0.45em;
    width: auto;

    .box,
    .arrow {
      transition: fill 0.2s ease;
    }
  }

  a.icon-variety-blue {
    svg {
      .box {
        fill: #62a6ff;
      }

      .arrow {
        fill: $header-color;
      }
    }

    &:hover {
      svg {
        .box {
          fill: #96ccff;
        }

        .arrow {
          fill: white;
        }
      }
    }
  }

  a.icon-variety-white {
    svg {
      .box {
        fill: rgb(209, 218, 232);
      }

      .arrow {
        fill: rgb(164, 174, 194);
      }
    }

    &:hover {
      svg {
        .box {
          fill: rgb(170, 212, 253);
        }

        .arrow {
          fill: rgb(61, 131, 251);
        }
      }
    }
  }
}
