@import 'src/styles/variables';
@import 'src/styles/mixins';

#site-logo {
  background: url('/assets/img/docs-logo.png') no-repeat 0 0;
  background-size: 72px;
  width: 72px;
  height: 24px;
  display: inline-block;
  transition: .2s opacity ease;

  &:hover {
    opacity: .9;
  }
}

site-logo {
  .current {
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    margin-left: 8px;
    vertical-align: 5px;
    color: $header-color;
    display: inline-block;
    font-family: $font-family-eina;
    transition: .2s color ease;

    &::after {
      content: '';
      margin-left: 8px;
      display: inline-block;
      vertical-align: middle;
      border-left: 3px solid transparent;
	    border-right: 3px solid transparent;
      border-top: 4px solid $header-color;
      transform: .2s border-top-color ease;
    }

    &:hover {
      color: darken($header-color, 4);
      text-shadow: 0 1px 2px rgba(black, .1);

      &::after {
        border-top-color: darken($header-color, 4);
      }
    }
  }

  nav {
    position: relative;
  }

  ul {
    background: white;
    border-radius: 8px;
    position: absolute;
    list-style: none;
    display: block;
    padding: 12px 12px 20px;
    width: 460px;
    z-index: 1;
    top: 20px;
    box-shadow: 0 4px 16px rgba(black, .2);

    &::before {
      background: url('/assets/img/ico-nav-arrow.png') no-repeat 0 0;
      background-size: 15px;
      width: 15px;
      height: 8px;
      position: absolute;
      top: -8px;
      left: 177px;
      content: '';
    }
  }

  li {
    display: block;

    &.active {
      color: $dark-gray;
    }

    a {
      padding: 11px 0 11px 72px;
      display: inline-block;
      position: relative;

      &::before,
      &::after {
        background: url('/assets/img/dropdown-icons.png') no-repeat 0 0;
        background-size: 32px;
        height: 32px;
        width: 32px;
        content: '';
        position: absolute;
        top: 19px;
        left: 21px;
        transition: .2s opacity;
      }

      &::after {
        opacity: 0;
      }
    }

    &.framework a::after  {
      background-position: 0 -32px;
    }

    &.pro a {
      &::before { background-position: 0 -64px; }
      &::after { background-position: 0 -96px; }
    }

    &.cli a {
      &::before { background-position: 0 -128px; }
      &::after { background-position: 0 -160px; }
    }

    &.capacitor a {
      &::before { background-position: 0 -192px; }
      &::after { background-position: 0 -224px; }
    }

    &.stencil a {
      &::before { background-position: 0 -256px; }
      &::after { background-position: 0 -288px; }
    }

    &:hover a::after {
      opacity: 1;
    }

    &.divider {
      padding-bottom: 15px;
      margin-bottom: 11px;
      border-bottom: 1px solid $whiteish;
    }

    strong {
      color: $blacker;
      display: block;
    }

    span {
      color: $gray;
      display: block;
      font-size: 12px;
      line-height: 14px;
    }

    &.sm {
      a {
        padding: 8px 0 8px 72px;

        &::before,
        &::after {
          top: 5px;
        }
      }

      strong {
        display: inline-block;
        width: 83px;
      }

      span {
        display: inline-block;
        letter-spacing: .01em;
      }
    }
  }
}
