@import 'src/styles/variables';
@import 'src/styles/mixins';



dropdown-framework {
  flex-grow: 1;

  .current {
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin-left: 8px;
    line-height: 1em;
    color: $header-color;
    display: inline-block;
    letter-spacing: -.02em;
    vertical-align: text-top;
    transition: .2s color ease;

    &::after {
      content: '';
      margin-left: 8px;
      display: inline-block;
      vertical-align: middle;
      border-left: 3px solid transparent;
	    border-right: 3px solid transparent;
      border-top: 4px solid $header-color;
      transition: .2s border-top-color ease;
    }

    &:hover {
      color: white;
      text-shadow: 0 1px 2px rgba(black, .1);

      &::after {
        border-top-color: white;
      }
    }
  }

  ul {
    background: white;
    border-radius: 8px;
    position: absolute;
    list-style: none;
    min-width: 460px;
    display: block;
    padding: 0;
    z-index: 1;
    top: 24px;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-5px);
    box-shadow:
      0 40px 80px rgba(42,58,87,.1),
      0 16px 32px rgba(42,58,87,.15),
      0 4px 14px rgba(0,0,0,.1);
    transition: .4s opacity ease, .4s transform;

    &::before {
      background: url('/docs/assets/img/ico-nav-arrow.png') no-repeat 0 0;
      background-size: 15px;
      width: 15px;
      height: 8px;
      position: absolute;
      top: -8px;
      left: 178px;
      content: '';
    }

    &::after {
      content: '';
      height: 10px;
      left: 0;
      right: 0;
      top: -10px;
      position: absolute;
    }

    &.active {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all;
      transition: .2s opacity ease, .4s transform;
    }
  }

  li {
    display: block;

    &.active {
      color: $dark-gray;
    }

    &:first-child a {
      padding-top: 23px;

      &::before,
      &::after {
        top: 30px;
      }
    }

    &:last-child a,
    &.sm:last-child a {
      padding-bottom: 27px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    a {
      padding: 6px 12px 16px 84px;
      display: block;
      position: relative;
      outline: none;

      &::before,
      &::after {
        background: url('/docs/assets/img/dropdown-icons.png') no-repeat 0 0;
        background-size: 32px;
        height: 32px;
        width: 32px;
        content: '';
        position: absolute;
        top: 14px;
        left: 32px;
        transition: .2s opacity;
      }

      &::after {
        opacity: 0;
      }
    }

    &.framework a::after  {
      background-position: 0 -32px;
    }

    &.pro a {
      &::before { background-position: 0 -64px; }
      &::after { background-position: 0 -96px; }
    }

    &.cli a {
      &::before { background-position: 0 -128px; }
      &::after { background-position: 0 -160px; }
    }

    &.capacitor a {
      &::before { background-position: 0 -192px; }
      &::after { background-position: 0 -224px; }
    }

    &.stencil a {
      &::before { background-position: 0 -256px; }
      &::after { background-position: 0 -288px; }
    }

    &:hover {
      a::after {
        opacity: 1;
      }

      strong {
        color: $blue;
      }

      span {
        color: $darkish;
      }
    }

    strong {
      color: $blacker;
      display: block;
      letter-spacing: 0;
      transition: .2s color ease;
    }

    span {
      color: $gray;
      display: block;
      font-size: 12px;
      font-weight: 600;
      line-height: 14px;
      letter-spacing: .01em;
      transition: .2s color ease;
    }

    &.sm {
      a {
        margin-top: 10px;
        padding: 20px 0 8px 84px;
        background: $whiter;

        &::before,
        &::after {
          top: 17px;
        }
      }

      + .sm a {
        padding-top: 8px;
        margin-top: 0;

        &::before,
        &::after {
          top: 5px;
        }
      }

      strong {
        display: inline-block;
        margin-right: 16px;
      }

      span {
        display: inline-block;
        letter-spacing: .01em;
        position: relative;
        padding-right: 20px;

        &::after,
        &::before {
          background: url('/docs/assets/img/new-tab-icon.png') no-repeat 0 0;
          background-size: 11px;
          width: 11px;
          height: 11px;
          content: '';
          position: absolute;
          right: 0;
          transition: .2s opacity ease;
        }

        &::after {
          opacity: 0;
          background-position: 0 -11px;
        }
      }

      &:hover span::after {
        opacity: 1;
      }
    }

    &.active strong::after {
      font-family: 'Ionicons';
      display: inline-block;
      position: absolute;
      content: '\\f2bc';
      font-size: 18px;
      color: $blue;
      right: 30px;
      top: 33px;
    }
  }
}
