@import 'src/styles/variables';
@import './ecosystem-dropdown';
@import './framework-dropdown';

site-header {
  background-color: $blue;
  color: $header-color;
  z-index: 1;
  font-family: $font-family-eina;

  h1,
  h2,
  h3,
  h4,
  p,
  li {
    color: $header-color;
    margin: 0;
  }

  nav {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
  }

  #site-logo {
    background: url('/docs/assets/img/docs-logo.png') no-repeat 0 0;
    background-size: 72px;
    width: 72px;
    height: 24px;
    flex-grow: 0;
    display: inline-block;
    transition: .2s opacity ease;

    &:hover {
      opacity: .9;
    }
  }

  .github a {
    font-size: 13px;
    margin-top: 2px;
    font-weight: 600;
    display: inline-block;
    letter-spacing: -.02em;
    color: rgba(white, .7);
    transition: .2s color ease;
    position: relative;

    &:hover {
      color: rgba(white, 1);
    }
  }
}
