ionic-docs.section-pro {
  site-header {
    background-color: black;
  }
}

ionic-docs.section-cli {
  site-header {
    background-color: white;

    /* TODO: might be able to inherit color here somehow */
    a {
      color: black;

      &:hover {
        color: #141414;
      }
    }
  }

  #site-logo {
    svg > path {
      fill: var(--blue);
    }
  }
}


site-header {
  align-items: center;
  align-self: stretch;
  background-color: var(--blue);
  color: var(--header-color);
  font-family: var(--font-family-eina);
  grid-area: header;
  padding-left: 2rem;
  padding-right: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 1;

  @media (max-width: $breakpoint-md)  {
    padding-left: 24px;
    padding-right: 32px;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  li {
    color: var(--header-color);
    margin: 0;
  }

  nav {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
  }

  #site-logo {
    display: flex;
    flex-grow: 0;

    svg {
      width: 72px;
      height: 24px;
      display: inline-block;
      transition: .2s opacity ease;

      > path {
        fill: #fff;
      }
    }

    &:hover {
      opacity: .9;
    }
  }

  .github {
    font-size: 13px;
    margin: 2px 0 0 28px;
    font-weight: 600;
    display: inline-block;
    letter-spacing: -.02em;
    color: rgba(255, 255, 255, .7);
    transition: .2s color ease;
    position: relative;

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }

  @media (max-width: 340px)  {
    ctrl-dropdown {
      display: none;
    }
  }

  @media (max-width: 640px)  {
    site-search {
      display: none;
    }
  }

  @media (max-width: 700px)  {
    .github {
      display: none;
    }
  }
}

.site-nav-toggle {
  background-color: transparent;
  border: none;
  color: inherit;
  height: 1rem;
  margin-right: 1em;
  padding: 0;
  width: 1rem;

  &:focus {
    outline: none;
  }

  @media (min-width: 700px) {
    display: none;
  }
}

.site-nav-toggle.is-open {
  color: white;
}

.site-nav-toggle > svg {
  fill: currentColor;
}
