@import 'src/styles/variables';
@import './ecosystem-dropdown';

ionic-docs.section-pro {
  site-header {
    background-color: black;
  }
}

ionic-docs.section-cli {
  site-header {
    background-color: white;

    // TODO: might be able to inherit color here somehow
    a {
      color: black;

      &:hover {
        color: lighten(black, 8);
      }
    }
  }

  #site-logo {
    svg > path {
      fill: $blue;
    }
  }
}


site-header {
  background-color: $blue;
  color: $header-color;
  z-index: 1;
  font-family: $font-family-eina;

  h1,
  h2,
  h3,
  h4,
  p,
  li {
    color: $header-color;
    margin: 0;
  }

  nav {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
  }

  #site-logo {
    display: flex;
    flex-grow: 0;

    svg {
      width: 72px;
      height: 24px;
      display: inline-block;
      transition: .2s opacity ease;

      > path {
        fill: #fff;
      }
    }

    &:hover {
      opacity: .9;
    }
  }

  .github {
    font-size: 13px;
    margin: 2px 0 0 28px;
    font-weight: 600;
    display: inline-block;
    letter-spacing: -.02em;
    color: rgba(white, .7);
    transition: .2s color ease;
    position: relative;

    &:hover {
      color: rgba(white, 1);
    }
  }
}
