/* @import './../../src/styles/variables.css'; */
/* @import './ecosystem-dropdown.css'; */

ionic-docs.section-pro {
  site-header {
    background-color: black;
  }
}

ionic-docs.section-cli {
  site-header {
    background-color: white;

    /* TODO: might be able to inherit color here somehow */
    a {
      color: black;

      &:hover {
        color: #141414;
      }
    }
  }

  #site-logo {
    svg > path {
      fill: var(--blue);
    }
  }
}


site-header {
  background-color: var(--blue);
  color: var(--header-color);
  z-index: 1;
  font-family: var(--font-family-eina);

  h1,
  h2,
  h3,
  h4,
  p,
  li {
    color: var(--header-color);
    margin: 0;
  }

  nav {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
  }

  #site-logo {
    display: flex;
    flex-grow: 0;

    svg {
      width: 72px;
      height: 24px;
      display: inline-block;
      transition: .2s opacity ease;

      > path {
        fill: #fff;
      }
    }

    &:hover {
      opacity: .9;
    }
  }

  .github {
    font-size: 13px;
    margin: 2px 0 0 28px;
    font-weight: 600;
    display: inline-block;
    letter-spacing: -.02em;
    color: rgba(255, 255, 255, .7);
    transition: .2s color ease;
    position: relative;

    &:hover {
      color: rgba(255, 255, 255, 1);
    }
  }

  @media (max-width: 340px)  {
    ctrl-dropdown {
      display: none;
    }
  }

  @media (max-width: 640px)  {
    site-search {
      display: none;
    }
  }

  @media (max-width: 700px)  {
    .github {
      display: none;
    }
  }
}

