docs-document {
  grid-area: document;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

docs-document > *:first-child {
  margin-top: 0.5rem;
}

docs-document main {
  flex: 1;
}
