docs-document {
  grid-area: document;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;

  @media (max-width: $breakpoint-md) {
    padding: 1.6rem;
  }
}

docs-document > *:first-child {
  margin-top: 0.5rem;
  color: var(--blackish);
}

docs-document main {
  flex: 1;
}

docs-document #api-link {
  font-size: 12px;
  color: #3880ff;
  background-color: #dfedff;
  float: right;
  text-align: center;
  padding: 2px;
  width: 2.8em;
  border-radius: 25px;
}
