docs-header {
  background-color: var(--background);
  box-shadow: 0px 1px 3px rgba(2, 8, 20, 0.06), 0px 1px 2px rgba(2, 8, 20, 0.04);
  color: var(--text-color--light);
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateY(0);
  transition: transform 200ms ease;
  user-select: none;
  width: 100%;
  white-space: nowrap;
  z-index: 2;
}

@media (min-width: 768px) {
  .Layout:not(.is-menu-toggled) docs-header.hidden {
    transform: translateY(-100%);
  }
}

@media (max-width: 768px) {
  .Layout.is-menu-toggled docs-header.hidden {
    transform: translateY(-100%);
  }
}

docs-header header {
  height: var(--header-height);
  padding: 0 1.4rem 0 0.8rem;
}

docs-header header,
docs-header nav {
  align-items: center;
  display: flex;
}

docs-header header > *:not(:last-child),
docs-header nav > *:not(:last-child) {
  margin-right: 1em;
}

docs-header a {
  color: inherit;
  padding: 10px 0;
}

docs-header .link-active {
  color: var(--text-color--dark);
}

@media (hover: hover) {
  docs-header a:not(.link-active):hover {
    color: var(--text-color);
  }
}

docs-header docs-menu-toggle {
  flex: none;
}

.HeaderLogo {
  color: var(--text-color--dark);
  font-family: var(--heading-font-family);
  height: 25px;
}

.UtilNav {
  font-size: 12px;
  margin-left: auto;
}
