docs-search {
  align-items: center;
  background-color: var(--background);
  border-radius: 2em;
  border: solid 1px var(--line-rule-color);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.01);
  color: var(--text-color--light);
  display: flex;
  font-size: 14px;
  padding: 0.5rem 1rem;
  transition: border-color 200ms ease, box-shadow 200ms ease;
}

docs-search:hover,
docs-search.is-focused {
  box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.03);
}

docs-search.is-focused {
  border-color: var(--accent-color);
}

docs-search .Search-field {
  appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  font-size: inherit;
  width: 100%;
}

docs-search .Search-field::placeholder {
  color: var(--text-color--lighter);
}

docs-search .Search-field:focus {
  outline: none;
}

docs-search .Search-icon,
docs-search .Search-close {
  fill: var(--text-color--lighter);
  flex: none;
}

docs-search .Search-icon {
  height: 1.25em;
  width: 1.25em;
  margin: 0 0.5em 0 -0.5em;
}

docs-search .Search-close {
  cursor: pointer;
  height: 2em;
  width: 2em;
  margin: -1em -0.75em -1em 0.5em;
  padding: 0.25em;
}
