@import './templates/error.css';

docs-page {
  display: grid;
  font-size: 15px;
  grid-template-columns: 1fr minmax(0, var(--page-width, 720px)) 1fr;
  line-height: 2;
  margin-left: var(--page-margin-left);
  margin-top: var(--header-height);
  overflow-x: hidden;
  transform: var(--page-transform, none);
  transition: transform 200ms cubic-bezier(0.2, 1, 0.2, 1);
}

@media (min-width: 1800px) {
  docs-page {
    grid-template-columns: 1fr minmax(0, var(--page-width, 720px)) 1fr var(--page-margin-left);
  }
}

docs-page > main {
  position: relative;
  grid-column: 2;
  margin-bottom: 3rem;
  padding: var(--page-padding, 2rem 3rem);
  position: relative;
}

docs-page docs-demo {
  margin-right: auto;
}

docs-page docs-pagination {
  grid-column: 1 / -1;
}

docs-page .full-screen {
  grid-column: 1 / -1;
  height: calc(100vh - var(--header-height));
  margin-bottom: 0;
  overflow: hidden;
  padding: 0;
}

docs-page h1 {
  margin-top: 2rem;
}

docs-page h2 a[href^="#"],
docs-page h3 a[href^="#"],
docs-page h4 a[href^="#"],
docs-page h5 a[href^="#"],
docs-page h6 a[href^="#"] {
  color: inherit;
  position: relative;
}

docs-page h2 a[href^="#"]:before,
docs-page h3 a[href^="#"]:before,
docs-page h4 a[href^="#"]:before,
docs-page h5 a[href^="#"]:before,
docs-page h6 a[href^="#"]:before {
  content: "#";
  opacity: 0;
  padding-right: 5px;
  position: absolute;
  right: 100%;
  transition: opacity 100ms ease;
}

docs-page h2 a[href^="#"]:hover:before,
docs-page h3 a[href^="#"]:hover:before,
docs-page h4 a[href^="#"]:hover:before,
docs-page h5 a[href^="#"]:hover:before,
docs-page h6 a[href^="#"]:hover:before {
  opacity: 1;
}

docs-page h2 code,
docs-page h3 code,
docs-page h4 code,
docs-page h5 code,
docs-page h6 code {
  background: none;
  font-size: inherit;
}

docs-page aside {
  float: right;
  margin-left: 20px;
  margin-bottom: 20px;
}

@media (min-width: 1500px) {
  docs-page aside {
    position: absolute;
    right: -240px;
    width: 240px;
    float: none;
    margin-left: 0;
  }

  docs-page main.no-demo docs-table-of-contents {
    position: absolute;
    right: -240px;
    width: 240px;
  }
}