:host {
  display: block;
  background-color: #2b313c;
  border-radius: 7px;
  padding: 1.25em 2em 2em;
  font-family: var(--font-family-code);
  font-size: 13px;
  letter-spacing: normal;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
  overflow: scroll;
}

:host([nobuttons]) {
  padding: 2em;
}

svg {
  height: 13px;
  margin-bottom: 1em;
  margin-left: -0.3em;
}

svg > circle:nth-child(1) {
  fill: #fc5e64;
}

svg > circle:nth-child(2) {
  fill: #fdba46;
}

svg > circle:nth-child(3) {
  fill: #2ec64f;
}
