command-output span.bold a,
command-output span.bold {
  font-family: var(--code-font-family);
  font-weight: bold;
  color: #fff;
}

command-output span.green {
  color: #8ae26e;
}

command-output span.cyan {
  color: #c3b3f9;
}

command-output span.yellow {
  color: #fffdb2;
}
