command-line {
  background-color: var(--text-color--dark);
  border-radius: 7px;
  color: rgba(255, 255, 255, 0.7);
  display: block;
  font-family: var(--code-font-family);
  font-size: 13px;
  letter-spacing: normal;
  line-height: 1.5;
  margin: 0 0 2rem 0;
  overflow: scroll;
  padding: 1.25em 2em 2em;
}

command-line[nobuttons] {
  padding: 2em;
}

command-line svg {
  height: 13px;
  margin-bottom: 1em;
  margin-left: -0.3em;
}

command-line > svg > circle:nth-child(1) {
  fill: #fc5e64;
}

command-line > svg > circle:nth-child(2) {
  fill: #fdba46;
}

command-line > svg > circle:nth-child(3) {
  fill: #2ec64f;
}
