@import 'src/styles/variables';
@import 'src/styles/mixins';

site-search {
  margin-right: 34px;

  form {
    position: relative;
  }

  input {
    border: none;
    outline: none;
    display: block;
    font-size: 12px;
    font-weight: 600;
    min-width: 240px;
    border-radius: 16px;
    letter-spacing: .02em;
    color: rgba(white, .9);
    padding: 9px 10px 8px 36px;
    background: rgba(white, .1);
    transition: .2s background-color ease;

    &::placeholder {
      color: rgba(white, .4);
      font-family: $font-family-eina;
      transition: .2s color ease;
    }

    &:hover,
    &:active,
    &:focus {
      background: rgba(white, .16);

      &::placeholder {
        color: rgba(white, .5);
      }

      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
    }

    &:focus {
      &::placeholder {
        color: rgba(white, 0);
      }

      + .search-icon::after {
        opacity: 1;
      }
    }
  }

  .search-icon {
    position: absolute;
    width: 14px;
    height: 14px;
    left: 13px;
    top: 9px;

    &::before,
    &::after {
      background: url('/docs/assets/img/search-icon.png') no-repeat 0 0;
      background-size: 14px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      content: '';
    }

    &::after {
      opacity: 0;
      background-position: 0 -14px;
      transition: .2s opacity ease;
    }
  }
}
