:host {
  display: block;
}

:host(.is-zoomed) {
  padding: 10px;
}

::slotted(img:hover) {
  cursor: zoom-in;
}

:host(.is-zoomed) ::slotted(img:hover) {
  cursor: zoom-out;
}

:host(.is-zoomed) ::slotted(img) {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

:host(.is-zoomed) {
  align-items: center;
  background-color: rgba(0,0,0,0.8);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9;
}
