:global(:root) {
  --framework-selector-padding-x: 0.75rem;
}

:global(html[data-theme='dark']) {
  --framework-selector-c-background: var(--c-indigo-90);
  --framework-selector-c-text: #fff;
  --framework-selector-c-border: var(--c-indigo-60);
  --framework-selector-c-border--hover: var(--c-indigo-50);
  --framework-selector-c-border--open: var(--c-indigo-40);
}
:global(html[data-theme='light']) {
  --framework-selector-c-background: #fafbfc;
  --framework-selector-c-text: var(--c-indigo-100);
  --framework-selector-c-border: var(--c-indigo-60);
  --framework-selector-c-border--hover: var(--c-indigo-70);
  --framework-selector-c-border--open: var(--c-indigo-40);
}

.frameworkSelector {
  display: flex;
  flex-direction: column;
  position: relative;
}

.button {
  position: relative;
  z-index: 2;
  flex-grow: 1;

  cursor: pointer;

  padding: 0.625rem 0.938rem 0.625rem var(--framework-selector-padding-x);

  background: var(--framework-selector-c-background);
  border: 1px solid var(--framework-selector-c-border);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.06);
  border-radius: 8px;

  text-align: start;
  font-family: inherit;

  font-weight: 500;
  font-size: 0.813rem;
  line-height: 16px;
  letter-spacing: -0.01em;
  color: var(--framework-selector-c-text);

  transition: border-color 0.15s ease-out;

  &:hover,
  &:focus {
    border: 1px solid var(--framework-selector-c-border--hover);
  }
}

.dropdown {
  position: absolute;
  z-index: 1;
  left: 1px;
  right: 1px;
  top: 100%;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.2s ease-out, visibility 0.2s step-end,
    transform 0.2s ease-out;

  background: var(--framework-selector-c-background);

  padding: 0.75rem var(--framework-selector-padding-x);

  box-shadow: var(--shadow-4);
  border-radius: 8px;

  list-style: none;
}

.dropdownItem {
  display: flex;

  font-weight: 500;
  font-size: 0.813rem;
  line-height: 16px;
  letter-spacing: -0.01em;

  transition: opacity 0.2s ease-out;

  button {
    flex-grow: 1;
    text-align: start;

    display: block;
    background: inherit;
    border: none;
    cursor: pointer;

    color: var(--framework-selector-c-text);
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  + .dropdownItem {
    margin-block-start: 0.75rem;
  }
}

.frameworkSelectorOpen {
  .button {
    border: 1px solid var(--ifm-menu-color-active);
  }
  .dropdown {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);

    transition: opacity 0.2s ease-out, visibility 0.2s step-start,
      transform 0.2s ease-out;
  }
}
