docs-header {
  background-color: var(--blue);
  color: var(--header-color);
  grid-area: header;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
}

docs-header,
docs-header > nav {
  align-items: center;
  display: flex;
  line-height: 1;
}

docs-header > nav {
  width: 100%;

  @media (min-width: $breakpoint-md) {
    justify-content: flex-end;
  }
}

.menu-toggle {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: none;
  line-height: 0;
  padding: 0;
  width: 1rem;

  @media (max-width: $breakpoint-md) {
    display: block;
  }
}

.menu-toggle:focus {
  outline: none;
}

.menu-toggle svg {
  fill: currentColor;
}

.menu-toggle:hover svg {
  fill: white;
}

.docs-logo {
  align-items: center;
  color: white;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  left: 50%;
  letter-spacing: -0.02em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 200ms ease;

  @media (min-width: $breakpoint-md) {
    display: none;
  }
}

.docs-logo:hover {
  opacity: 0.9;
}

.docs-logo svg {
  fill: currentColor;
  height: auto;
  margin-right: 0.2em;
  width: 1.5rem;
}

.github-link {
  font-size: 13px;
  font-weight: 600;
  transition: color 200ms ease;

  &:hover {
    color: white;
  }

  @media (max-width: $breakpoint-md) {
    display: none;
  }
}

.github-link .new-tab {
  height: 0.8em;
  margin-left: 0.4em;
  width: auto;
}

.github-link .new-tab__box,
.github-link .new-tab__arrow {
  transition: fill 200ms ease;
}

.github-link .new-tab__box {
  fill: #62a6ff;
}

.github-link .new-tab__arrow {
  fill: var(--header-color);
}

.github-link:hover .new-tab__box {
  fill: #96ccff;
}

.github-link:hover .new-tab__arrow {
  fill: white;
}
