code-color {
  display: inline-block;
  vertical-align: bottom;
}

.code-color-block {
  display: inline-block;

  width: 20px;
  height: 20px;

  border: 1px solid var(--whiteish);
  border-radius: 4px;
}

.code-color-block,
.code-color-value {
  vertical-align: middle;
}
