.Layout {
  display: flex;
}

.Layout > stencil-route {
  width: 100%;
}

.Layout.is-collapsed {
  --menu-transform: translateX(calc(-1 * var(--menu-width)));
  --page-margin-left: 0;
}

@media (max-width: 768px) {
  .Layout {
    --page-padding: 1.5rem;
    --page-margin-left: 0;
  }

  .Layout docs-menu {
    position: fixed;
  }
}
