/* @import 'src/styles/variables'; */
@import './highlight';

code-block {
  background-color: #f5f6f9;
  border-radius: 4px;
  display: block;
  font-family: var(--font-family-code);
  font-size: 12px;
  margin: 1.5em 0;
  overflow-x: auto;
  padding: 2em 2em;
  position: relative;
  -webkit-font-smoothing: initial;
}

code-block .label {
  color: #bdc5d1;
  font-size: 0.85em;
  font-weight: 700;
  padding: 0.75em;
  position: absolute;
  right: 0;
  text-align: right;
  text-transform: uppercase;
  top: 0;
}

code-block pre,
code-block code {
  font-family: inherit;
}

code-block > pre {
  line-height: 1.45;
  margin: 0;
}
