docs-nav {
  display: block;
}

docs-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

docs-nav a {
  color: inherit;
  font-weight: inherit;
}

.Nav {
  --item-spacing: 10px;
  color: var(--text-color--dark);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25;
  padding: 1rem 0 .3rem;
}

.Nav-subnav {
  --item-spacing: 6px;
  color: var(--text-color--light);
  font-size: 13px;
}

.Nav-header {
  font-size: 12px;
  font-weight: 600;
  color: #b2becd;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.Nav-link,
.Nav-header {
  background-color: rgba(0,0,0, var(--bg-alpha, 0));
  display: block;
  padding-top: var(--item-spacing);
  padding-right: 20px;
  padding-bottom: var(--item-spacing);
  padding-left: calc(14px + var(--level, 1) * 10px);
}

.Nav > li {
  padding-bottom: 16px;
}

@media (hover: hover) {
  .Nav-link:not(.Nav-link--active):hover {
    color: var(--text-color);
  }

  .Nav-link:active {
    background-color: #f6fbff;
  }
}

.Nav-link--active {
  background-color: #f6fbff;
  border-left: solid 2px currentColor;
  color: var(--accent-color);
}

.Nav-subnav .Nav-header {
  color: var(--text-color);
  font-weight: 600;
}

.Nav-link.outbound {
  align-items: center;
  display: flex;
}

.Nav-link.outbound svg {
  flex: none;
  margin-left: 0.25em;
}

.Nav span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: .01em;
}

@media (max-width: 768px), (pointer: coarse) {
  .Nav {
    --item-spacing: 12px;
    font-size: 15px;
  }

  .Nav-subnav {
    --item-spacing: 6px;
    font-size: 14px;
  }
}
