docs-nav {
  display: block;
}

docs-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Nav {
  color: var(--text-color--dark);
  font-size: 14px;
  margin: 1rem 0 2rem;
}

.Nav-subnav {
  color: var(--text-color--light);
  font-size: 13px;
}

.Nav-link,
.Nav-header {
  background-color: rgba(0,0,0, var(--bg-alpha, 0));
  color: inherit;
  display: block;
  font-size: inherit;
  font-weight: 500;
  padding: 5px 20px 5px calc(10px + var(--level, 1) * 10px);
}

@media (hover: hover) {
  .Nav-link:hover {
    --bg-alpha: 0.025;
  }

  .Nav-link:active {
    --bg-alpha: 0.05;
  }
}

.Nav-link--active {
  border-left: solid 2px currentColor;
  color: var(--accent-color);
}

.Nav-link.outbound {
  align-items: center;
  display: flex;
}

.Nav-link.outbound svg {
  flex: none;
  margin-left: 0.25em;
}

.Nav-header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.Nav span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
