content-header {
  display: flex;

  border-bottom: 1px solid rgba(21, 30, 47, 0.05);

  padding: 15px;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    display: inline-block;
    margin-left: 15px;
  }

  .widget {
    flex: 1;
  }

  .links {
    a {
      display: inline-block;
    }
  }
}
