docs-reference {
  display: block;
  margin: 1rem 0;
}

docs-reference h3 {
  font-family: var(--code-font-family);
  font-size: 1.25rem;
  margin: 0.75rem 0;
  padding: 0;
}

docs-reference tbody tr {
  background-color: #fcfcfd;
}

docs-reference tbody th {
  vertical-align: top;
}

docs-reference tbody td {
  color: var(--text-color--light);
}

docs-reference tbody p {
  line-height: 2;
}

docs-reference p:first-child {
  margin-top: 0;
}

docs-reference p:last-child {
  margin-bottom: 0;
}
