docs-reference {
  display: block;
  margin: 1rem 0;
}

docs-reference h3 {
  font-family: var(--code-font-family);
  font-size: 1.25rem;
  margin: 1rem 0;
  padding: 0;
}

docs-reference a {
  font-weight: inherit;
}

docs-reference a:before {
  display: none;
}

docs-reference tbody * {
  font-size: 12px !important;
}

docs-reference thead tr {
  background-color: var(--offset-background);
}

docs-reference tbody tr {
  background-color: #ffffff !important;
}

docs-reference tbody th {
  vertical-align: top;
}

docs-reference tbody td {
  color: var(--text-color--light);
}

docs-reference tbody p {
  line-height: 2;
}

docs-reference p:first-child {
  margin-top: 0;
}

docs-reference p:last-child {
  margin-bottom: 0;
}
