docs-item-list {
  display: grid;
  font-size: 12px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1.35rem;
}

docs-item-list > docs-item {
  font-size: inherit;
  max-width: none;
}

docs-item-list > docs-item.tall {
  grid-row: span 2;
}

docs-item-list > docs-item.wide {
  grid-column: span 2;
}

docs-item-list.prioritized > docs-item:nth-child(-n+5) {
  font-size: 1.25em;
}

docs-item-list.prioritized > docs-item:first-child {
  grid-row: span 2;
}

docs-item-list.max-measure > docs-item {
  max-width: 50%;
}