docs-section-nav,
docs-section-nav stencil-route-switch,
docs-section-nav stencil-route {
  display: block;
  height: 100%;
}

.SectionNav {
  height: 100%;
}

.SectionNav .Dropdown {
  height: auto;
}

.SectionNav .Dropdown-button {
  border: solid 1px transparent;
  border-radius: 6px;
  color: var(--text-color--dark);
  margin: 0 -5px 0 -10px;
  padding: 10px;
  transition: border-color 100ms ease-out;
}

.SectionNav .Dropdown-button svg {
  font-size: 0.75em;
  margin-bottom: -0.125em;
}

.SectionNav .Dropdown.is-open .Dropdown-button {
  border-color: var(--line-rule-color);
}

@media (hover: hover) {
  .SectionNav .Dropdown-button:hover {
    border-color: var(--line-rule-color);
  }
}

.SectionNav .Dropdown-panel {
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  min-width: 140px;
  padding: 0.75em 0;
}

.SectionNav .Dropdown-panel a {
  display: block;
  padding: 0.75em 1.25em;
  position: relative;
}

.SectionNav .Dropdown-panel .link-active:after {
  display: none;
}

.SectionNav > * {
  align-items: center;
  display: flex;
  height: 100%;
  position: relative;
}

.SectionNav .link-active:after {
  background-color: currentColor;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}
