@import './version-dropdown';

site-menu {
  grid-area: menu;
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
  padding: 1.75rem 0 1.75rem 2rem;
  position: sticky;
  top: var(--header-height);

  @media (max-width: 700px) {
    background-color: white;
    position: fixed;
    right: 100%;
    transition: transform 400ms cubic-bezier(0.190,1,0.220,1);
    width: 70%;
    z-index: 1;

    &.is-open {
      transform: translateX(100%); }
  }
}

site-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

site-menu li {
  margin: 0;
}

site-menu stencil-route-link:hover {
  text-decoration: none;
}

site-menu a {
  color: var(--blackish);
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -.06em;
  overflow: hidden;
  padding: 4px 0;
  text-decoration: none;
  text-indent: 0;
  text-overflow: ellipsis;
  transition:
    .2s color ease,
    .2s height ease,
    .2s padding ease,
    .2s transform ease;
  white-space: nowrap;
}

site-menu a:hover {
  color: #48505c;
  text-decoration: none;
}

site-menu .sub-menu a {
  color: var(--gray);
  font-size: 13px;
  font-weight: 500;
  padding: 0;
}

site-menu .sub-menu a:hover,
site-menu .sub-menu a.link-active {
  transform: translateX(1px);
}

site-menu .sub-menu a:hover {
  color: var(--dark);
}

site-menu stencil-route-link .link-active,
site-menu stencil-route-link .link-active:hover {
  color: var(--blue);
  font-weight: 600;
}

site-menu .sub-menu {
  margin: -3px 0 3px 8px;
}

site-menu .sub-menu:not(.expanded) {
  height: 0;
  overflow: hidden;
}

site-menu .sub-menu li {
  height: 28px;
}
