@import 'src/styles/mixins';

site-menu {
  grid-area: site-menu;
  @extend %site-grid-component;
  display: flex;


  nav {
    > ul > li {
      > stencil-route-link,
      > menu-expander {
        &:hover { text-decoration: none; }

        a {
          font-weight: 600;
          color: $blackish;

          &:hover {
            color: $blue;
            text-decoration: none;
          }
        }
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    ul {
      padding-left: 15px;
    }
  }

  li {
    list-style: none;
    margin: 0;
  }

  a {
    letter-spacing: -.02em;
    text-decoration: none;
    color: #484854;
    text-indent: 0;
    display: inline-block;
    padding: 5px 0;
    font-size: 13px;
    font-weight: 300;
    cursor: pointer;
    transition: .2s color ease;
  }

}
