@import 'src/styles/mixins';

site-menu {
  grid-area: site-menu;
  @extend %site-grid-component;
  display: flex;

  nav {
    > ul > li {
      > stencil-route-link,
      > menu-expander {
        &:hover { text-decoration: none; }

        a {
          font-weight: 600;
          color: $blackish;
          padding: 10px 0;
          font-size: 13px;
          letter-spacing: -.02em;

          &:hover {
            color: $blue;
          }
        }
      }
    }
  }

  stencil-route-link,
  menu-expander {
        &:hover { text-decoration: none; }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    ul {
      margin: -3px 0 3px 8px;
    }
  }

  li {
    list-style: none;
    margin: 0;
  }

  a {
    letter-spacing: .01em;
    text-decoration: none;
    color: #808d9f;
    text-indent: 0;
    display: block;
    padding: 6px 0 7px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    transition: .2s color ease, .2s height ease, .2s padding ease;

    &.link-active,
    &:hover {
      color: $blue;
      text-decoration: none;
    }
  }

}
