/* @import 'src/styles/variables'; */

new-tab-icon svg {
  height: 0.8em;
  margin-left: 0.4em;
  width: auto;

  .box,
  .arrow {
    transition: fill 0.2s ease;
  }
}

a {
  new-tab-icon svg {
    .box {
      fill: rgb(209, 218, 232);
    }

    .arrow {
      fill: rgb(164, 174, 194);
    }
  }

  new-tab-icon.on-blue svg {
    .box {
      fill: #62a6ff;
    }

    .arrow {
      fill: var(--header-color);
    }
  }

  &:hover {
    new-tab-icon svg {
      .box {
        fill: rgb(170, 212, 253);
      }

      .arrow {
        fill: rgb(61, 131, 251);
      }
    }

    new-tab-icon.on-blue svg {
      .box {
        fill: #96ccff;
      }

      .arrow {
        fill: white;
      }
    }
  }
}
